
	#approvalHours {
		#header {
			#headerContent {
				.rightMargin {
					span {
						font-size: 22px;
						color: blue;
					}
				}
			}
		}

		#section {
			#movingDate {
				text-align: center;
					div button {
						border-radius: 5px;
					}
				#writtenDate {
					margin-top: 3px;
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;
					p {
						font-family: monospace;
						font-size: 19px;
						margin: 0;
					}
				}
			}

			#options {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				align-items: center;
				margin-top: 10px;
				.opts {
					margin-right: 45px;
					font-size: 17px;
					font-family: monospace;
				}
			}








			.collapsing { 
				color: #E1E1E1 !important;
			}
			.myEmployee {
				color: #333;
				font-size: 18px;
				margin: 20px;
				transition: all .3s ease;
				i {
					font-size: 22px;
					margin-right: 8px;
					transition: all .3s ease;
				}
				&:hover {
					font-size: 18.3px;
					i {
						font-size: 26px;
						color: #3A70EC;
					}
				}
				i.closed {
					// color: #1047C3;
				}
				i.opened {
					color: #73E173;
				}
			}

				.projectTable {
					width: 95%;
					margin: auto;
					// margin: 20px auto;
					margin-bottom: 20px;
					padding: 8px 0;
					// border: .5px solid green;
					// background-color: #EBEBEB;
				}

			// .employeeCollapse {
			// 	padding: 0;
			// 	margin: 0;
			// }
			// .employeeContent {
			// 	border: 8px outset #B8F3B8;
			// 	background-color: #EFFFEE;
			// 	padding: 10px;
			// 	font-family: monospace;
			// 	font-size: 21px;
			// 	height: 100px;
			// 	display: flex;
			// 	flex-flow: row nowrap;
			// 	justify-content: center;
			// 	align-items: center;
			// 	p {
			// 		margin: 0;
			// 		span {
			// 			color: blue;
			// 		}
			// 	}
			// }



			#mainContent {
				min-width: 970px;
				.tableContainer {
					overflow-x:auto;
                	margin: 10px;

                	table {
                		table-layout: fixed;
                		width: 100%;
                		text-align: center;
                		th {
                			// background-color: #F5F5F5;
                			background-color: #EAEAEA;
                			text-align: center;
                			border-radius: 5px;
                			font-size: 13px;
                			font-family: monospace;
                			}
                		tr td{
                			line-height: 45px;
                		}
                		td:not(.notForMePlease) {
	                		padding: 3px 0;
	                		border-bottom: 1px solid gray;
	                		overflow: hidden;
	                		// text-overflow:ellipsis;
	                		white-space: nowrap;
                		}
                		tr td:first-child {
                			text-align: left;
                			padding-left: 20px;
                			button {
                				margin-right: 8px;
                				border-radius: 3px;
                			}
                		}
                		tr:hover:not(.notHoverPlease) * {
                			border-bottom: 1px solid $zemsania;
                			}
						.opened { // button: when a callapsable table is opened
							background-color: lighten( $zemsania, 15% );
						}
						.btnDesactivated {
							cursor: not-allowed;
						}
                	}

						// DAYS TABLE SECTION (HORAS, GUARDIAS, ETC.)
						#tableContent {
        					display: flex;
							flex-flow: row nowrap;
							justify-content: center;
							align-items: center;
							.lateralButtons {
						        width: 5%;
						        * {
						        	margin-bottom: 5px !important;
						        	border-radius: 5px;
						        }
        						.btnDesactivated {
        							cursor: not-allowed;
								}
							}
							.leyend p {
								font-size: 14px;
								margin: 0;
								margin-right: 10px;
								line-height: 21px;
								text-align: right;
							}
						}
					    .slickTable {
					        background-color: #EAEAEA;
					        border-radius: 5px;
					        padding: 7px;
					        width: 90%;
					        margin: 0;
					        margin-right: 15px;
					        .dayBox {
						        background-color: white;
						        // background-color: #85ac0c;
						        color: black;
						        width: 40px;
						        margin-left: 3px;
						        padding: 6px;
						        &:hover {
						        	border: .5px solid transparent;
						        }

						        .dayContent {
							        background-color: white;
						        	border: .5px solid gray;
						        	border-radius: 3px;
						        	margin-top: 2px;
						        	height: 20px;
		        					display: flex;
									flex-flow: row nowrap;
									justify-content: center;
									align-items: center;
									&.day {
										color: white;
				                        &.friday {
				                           background-color: $fridayColor;
				                        }
				                        &.working {
				                           background-color: $workingColor;
				                        }
				                        &.intensive {
				                           background-color: $intensiveColor;
				                        }
				                        &.special {
				                           background-color: $specialColor;
				                        }
				                        &.holidays {
				                           background-color: $holidaysColor;
				                        }
				                        &.non_working {
				                           background-color: $non_workingColor;
				                        }
									}
									&.value {
									}
									&.approved {
										color: white;
										font-size: 12px;
										&.ok {
											background-color: $zemsania;
										}
										&.ko {
											background-color: gray;
										}
										&.na {
											background-color: #BFBEBE;
										}
									}

						        }
						        &.desactivated {
									pointer-events: none;
									cursor: default;
									background-color: #EAEAEA;
						        	.dayContent.day, .dayContent.value, .dayContent.approved {
										background-color: #F4F4F4;
										color: #A9A9A9;
						        		
						        	}
						        }

					        }
					    }


					}
			}




		} // section
	}




                           // .myHeader {
                           //      color: #666;
                           // }
