<div id="approvalHours">
    <!-- HEADER TOOL-BAR -->
    <header id="header">
        <div id="headerContent">
            <div class="flexDesign box-shadow p20 top-bar">
                <div>
                    <h1>{{'approvalHours.title' | i18next}}</h1>
                </div>
                 <div class="rightMargin">
                     <h4><span>{{mainOBJ.imputesCount}}</span> empleado pendiente por aprobar</h4>
                </div> 
            </div>
        </div>
    </header>

    <!-- SECTION MAIN CONTENT -->
    <section id="section" class="box-shadow p20">
<!-- <button class="btn btn-success" ng-click="fn()">Go!</button> -->

        <!-- MOVING-DATE BUTTONS -->
        <div class="row">
            <div id="movingDate" class="col-xs-12">
                <div class="row">
                    <div class="col-xs-2 col-xs-offset-4 col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-3 col-lg-1 col-lg-offset-4">
                            <button class="btn btn-primary" ng-click="moveDate(-1)" title="{{'words.previous' | i18next}}">
                                <i class="fa fa-arrow-left"></i></button>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-sm-push-4 col-md-1 col-md-push-3 col-lg-1 col-lg-push-2">
                        <button class="btn btn-primary" ng-click="moveDate(+1)" title="{{'words.next' | i18next}}">
                            <i class="fa fa-arrow-right"></i></button>
                    </div>
                    <div id="writtenDate" class="col-xs-12 col-sm-4 col-sm-pull-2 col-md-3 col-md-pull-1 col-lg-2 col-lg-pull-1">
                        <p>{{'months.' + mainOBJ.currentMonth | i18next}}  {{mainOBJ.currentYear}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- OPTIONS -->
        <div id="options" class="simple-input">
            <div class="opts">
                <input type="radio" name="justPendingRadio" ng-model="mainOBJ.allEmployees" value="true" /> {{'approvalHours.all' | i18next}}
            </div>
            <div class="opts">
                <input type="radio" name="justPendingRadio" ng-model="mainOBJ.allEmployees" value="false" /> {{'approvalHours.justPending' | i18next}}
            </div>
            <div class="opts">
                <input ng-model="mainOBJ.searchText" class="form-control text-capitalize" 
                    placeholder="{{'approvalHours.search' | i18next}}" />
            </div>
        </div>


        <!-- MAIN CONTENT TABLE -->
        <div id="mainContent">
                <div class="tableContainer">
                    <!-- EMPLOYEES TABLE SECTION -->
                    <table>
                        <tr class="notHoverPlease">
                            <th style="width: 26%;">Empleado</th>
                            <th style="width: 8%;">Horas Imputadas</th>
                            <th style="width: 8%;">Horas Trabajadas</th>
                            <th style="width: 8%;">Jornadas Trabajadas</th>
                            <th style="width: 8%;">Jornadas Ausencias</th>
                            <th style="width: 8%;">Jornadas Vacaciones</th>
                            <th style="width: 8%;">Jornadas Vacaciones</th>
                            <th style="width: 26%;"></th>
                        </tr>
                    </table>

                    <div ng-show="showEmployee(employee.isPending)" ng-repeat="(key, employee) in employees | orderBy: 'name' | filter: mainOBJ.searchText">
                        <table>
                            <tr>
                                <td style="width: 26%;"><button ng-class="{'opened':employee.opened}" ng-click="myEmployeeClick(employee.employeeId)" class="btn btn-primary">
                                    <i ng-hide="employee.opened" class="fa fa-chevron-right"></i>
                                    <i ng-show="employee.opened" class="fa fa-chevron-down"></i></button>
                                    {{employee.name}} {{employee.surname}}
                                </td>
                                <td style="width: 8%;">{{employee.totalImputeHours}}</td>
                                <td style="width: 8%;">-</td>
                                <td style="width: 8%;">{{employee.totalDailyWork}}</td>
                                <td style="width: 8%;">-</td>
                                <td style="width: 8%;">-</td>
                                <td style="width: 8%;">-</td>
                                <td class="notForMePlease" style="width: 26%;">
                                    <button class="btn btn-primary no-margin" ng-click="setDays(true, employee.employeeId)">
                                        {{'approvalHours.approve' | i18next}}
                                    </button>
                                    <button class="btn btn-gray no-margin" ng-click="setDays(false, employee.employeeId)">
                                        {{'approvalHours.reject' | i18next}}
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <!-- PROJECTS TABLE SECTION -->
                        <div id="{{employee.employeeId}}" class="collapse">
                            <div class="projectTable">
                                <table>
                                    <tr class="notHoverPlease">
                                        <th style="width: 44%;">Proyecto</th>
                                        <th style="width: 12%;">Horas Imputadas</th>
                                        <th style="width: 12%;">Jornadas Trabajadas</th>
                                        <th style="width: 32%;"></th>
                                    </tr>
                                </table>
                                <div ng-repeat="(projectId, project) in employee.timesheetDataModel">
                                    <table>
                                        <tr>
                                            <td style="width: 44%;"><button ng-class="{'opened':project.info.opened}" ng-click="myProjectClick(employee.employeeId, projectId)" class="btn btn-primary">
                                                <i ng-hide="project.info.opened" class="fa fa-chevron-right"></i>
                                                <i ng-show="project.info.opened" class="fa fa-chevron-down"></i></button>
                                                {{project.info.name}}
                                            </td>
                                            <td style="width: 12%;">{{project.info.imputeHours}}</td>
                                            <td style="width: 12%;">{{project.info.dailyWork}}</td>
                                            <td class="notForMePlease" style="width: 32%;">
                                                <button class="btn btn-primary no-margin" ng-click="setDays(true, employee.employeeId, projectId)">
                                                    {{'approvalHours.approve' | i18next}}
                                                </button>
                                                <button class="btn btn-gray no-margin" ng-click="setDays(false, employee.employeeId, projectId)">
                                                    {{'approvalHours.reject' | i18next}}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- DAYS TABLE SECTION (HORAS, GUARDIAS, ETC.) -->
                                    <div id="{{projectId}}" class="collapse">
                                        <div ng-repeat="(tableName, table) in project.info.tables">
                         
                                            <p style="font-size: 18px;font-family: monospace;">{{tableName}}</p>
                                            <div id="content">
                                                <div class="slickTable">
                                                    <div ng-class="{'desactivated':!day.enabled}" class="dayBox" ng-repeat="(dayKey, day) in table.days">
                                                        <div class="dayContent day {{day.dayType}}">{{day.day}}</div>
                                                        <div class="dayContent value">{{day.value}}</div>
                                                        <div ng-class="{'na':day.approved=='NA','ok':day.approved==true,'ko':day.approved==false}"
                                                                 class="dayContent approved" 
                                                                 ng-click="setDays(true, employee.employeeId, projectId, table.imputeType, table.imputeSubType, day.dayTimestamp, day.approved)">
                                                                <span ng-show="day.enabled && day.approved!='NA'">{{day.approved ? 'OK' : 'KO'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="buttons">
                                                    <button class="btn btn-primary no-margin" ng-click="setDays(true, employee.employeeId, projectId, table.imputeType, table.imputeSubType)">
                                                        OK
                                                    </button>
                                                    <button class="btn btn-gray no-margin" ng-click="setDays(false, employee.employeeId, projectId, table.imputeType, table.imputeSubType)">
                                                        KO
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div> <!-- MAIN NG-REPEAT -->
                </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div id="footerContent">
            <div class="copyRight">Zemsania Time Manager&copy;</div>
        </div>
    </footer>

</div>
