$zemsania: #F15A29;
$black: #252525;
$grey: #9E9E9E;
$smookeWhite: whitesmoke;
$red: #EF5350;
$green: #9CCC65;
$yellow: #FFEE58;
$orange: #FFA726;

// DAY TYPES COLORS
$holidaysColor    : #ff0000;
$workingColor     : #85AC0C;
$fridayColor      : #286ABA;
$intensiveColor   : #EBC21C;
$specialColor     : #FF831C;
$non_workingColor : #808080;

// NOTIFICATION TYPES COLORS
$hours_validated_color   : #DE0202;
$hours_pending_req_color : #1C1CED;
$hours_req_color         : #009C00;
$holiday_req_color       : #D68C16;
$hours_rejected_color    : #990ADC;
