$zemsania: #F15A29;
$black: #252525;
$grey: #9E9E9E;
$smookeWhite: whitesmoke;
$red: #EF5350;
$green: #9CCC65;
$yellow: #FFEE58;
$orange: #FFA726;

// DAY TYPES COLORS
$holidaysColor    : #ff0000;
$workingColor     : #85AC0C;
$fridayColor      : #0F8DCF; // #286ABA
$intensiveColor   : #EBC21C;
$specialColor     : #FF831C;
$non_workingColor : #808080;

// NOTIFICATION TYPES COLORS
$hours_req_color         : #C26A04;
$hours_reviewed_color    : #0b5258;
$hours_validated_color   : #DE0202;
$hours_pending_req_color : #1C1CED;
$holiday_req_color       : #4caf50;
$hours_rejected_color    : #990ADC;

$rejectedColor : #f12919;
$approvedColor : #3AA33E;
$warningColor  : #f9c011;
$infoColor     : #1864d7;

h1 {
  color: #83ff64;
}