
    #alertMessage {
        .thisAlertBox {
            border-radius: 5px;
            min-height: 110px;
            width: 320px;
            position: fixed;
            padding: 10px 20px;
            bottom: -200px;
            right: 35px;
            opacity: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            z-index: 99999;
            p {
                color: white;
                font-size: 18px;
                font-family: monospace;
                margin: 0;
                text-align:center;
            }
            &.redAlert {
                background-color: #f44336;
            }
            &.greenAlert {
                background-color: #4caf50;
            }
        }
    } 
