
<div id="alertMessage" ng-class="{'errorAlert':type=='error','okAlert':type=='ok','warningAlert':type=='warning','infoAlert':type=='info'}">
  <div class="left content">
    <i ng-show="type=='ok'"      class="fa fa-check-circle"></i>
    <i ng-show="type=='error'"   class="fa fa-exclamation-circle"></i>
    <i ng-show="type=='warning'" class="fa fa-exclamation-triangle"></i>
    <i ng-show="type=='info'"    class="fa fa-info-circle"></i>
  </div>
  <div class="right content">
      <p>{{alertMessage}}</p>
  </div>
</div>
