<div ng-controller="ProjectAssignProjectController">

    <div class="simple-input no-margin">
        <p class="contentHead">{{'words.projects' | i18next}}
            <span ng-show="$parent.$parent.currentMode.type=='users'"> 
                    {{'words.of' | i18next}} 
                    <strong>{{(giveMeFirstWord($parent.$parent.currentMode.obj.name))}} 
                    {{(giveMeFirstWord($parent.$parent.currentMode.obj.surname))}} </strong>
                    ({{projects.length}})
            </span>
        </p>
        <div class="contentHead">
            <button ng-show="$parent.$parent.currentMode.type=='users'" class="btn btn-success" 
                    ng-click="newMarcate()"
                    title="{{'projects.projectAssign.marcateAProject' | i18next}}"><i class="fa fa-plus"></i></button>
        </div>

        <!-- PROJECTS WAIT-SPINNER ANIMATED ICON -->
        <div ng-show="spinners.projects" class="waitSpinner">
            <i class="fa fa-refresh fa-spin"></i><span>&nbsp;&nbsp;{{'actions.loading' | i18next}}</span>
        </div>

        <!-- PROJECTS LIST -->
        <div ng-show="projects">
            <ul class="list-group">
                <li ng-class="{'activeItem':project.active}" ng-repeat="project in projects | orderBy: 'name'" class="list-group-item item"
                    ng-click="activeThisProject(project)">
                    <div class="pull-left col-xs-9 leftContent">
                        <i class="fa fa-folder icon"></i>
                            ({{project.ocurrences}}) {{project.name}}
                    </div>
                    <div class="pull-right col-xs-3">
                        <button class="btn btn-warning" ng-click="openProjectInfo(project,$event)" 
                                title="{{'projects.projectAssign.projectGeneralInfo' | i18next}}"><i class="fa fa-info"></i></button>
                        <button ng-show="$parent.$parent.currentMode.type=='users'" class="btn btn-danger" 
                                ng-click="removeThis(project,$event)"
                                title="{{'projects.projectAssign.demarcateThisProject' | i18next}}"><i class="fa fa-minus"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
