<div ng-controller="ProjectAssignProjectController">

    <div class="simple-input no-margin">
        <p class="contentTitle">{{'words.projects' | i18next}}</p>
        
        <!-- PROJECTS WAIT-SPINNER ANIMATED ICON --> <!-- fa fa-spinner fa-pulse fa-3x fa-fw -->
        <div ng-show="spinners.projects" class="waitSpinner">
            <i class="fa fa-refresh fa-spin"></i><span>&nbsp;&nbsp;{{'actions.loading' | i18next}}</span>
        </div>

        <!-- PROJECTS LIST -->
        <div ng-show="projects">
            <ul class="list-group">
                <li ng-repeat="project in projects" class="list-group-item">
                    <div class="pull-left col-xs-8">
                        <i class="fa fa-folder"></i>
                            {{project.name}}
                    </div>
                    <div class="pull-right col-xs-4">

                        <button class="btn btn-danger" ng-click="activeThisProject(project._id)"><i class="fa fa-filter"></i></button>


                        <button class="btn btn-warning" ng-click="openInfo(project)" 
                                title="{{'projects.projectAssign.projectGeneralInfo' | i18next}}"><i class="fa fa-info"></i></button>
                        <button class="btn btn-success" ng-click="openThisProject(project)"><i class="fa fa-pencil"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- ng-class="{true : 'fa-folder-open', false : 'fa-folder' }[openProject._id === project._id]" -->