
<div class="simple-input no-margin">
    
    <!-- HEADER STUFFS: FIND TEXT, SEARCH BUTTON -->
    <form class="form-inline form-partial" ng-submit="searchProject(searchText)">
        <div class="input-group">
            <div>
                <input id="searchInput" ng-model="searchText" type="text" class="form-control" 
                        placeholder="{{'projects.projectAssign.searchProject' | i18next}}" autocomplete="off" />
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-primary">{{'actions.search' | i18next}}</button>
        </div>
    </form>
    
    <!-- PROJECTS WAIT-SPINNER ANIMATED ICON --> <!-- fa fa-spinner fa-pulse fa-3x fa-fw -->
    <div ng-show="spinners.projects" class="waitSpinner">
        <i class="fa fa-refresh fa-spin"></i><span>&nbsp;&nbsp;{{'actions.loading' | i18next}}</span>
    </div>

    <!-- PROJECTS LIST -->
    <div ng-show="projects">
        <ul class="list-group">
            <li ng-repeat="project in projects" class="list-group-item">
                <div class="pull-left">
                    <i class="fa"
                       ng-class="{true : 'fa-folder-open', false : 'fa-folder' }[openProject._id === project._id]"></i>
                    {{project.name}}
                </div>
                <div class="pull-right">
                    <button class="btn btn-warning" ng-click="openInfo(project)" 
                            title="{{'projects.projectAssign.projectGeneralInfo' | i18next}}"><i class="fa fa-info"></i></button>
                    <button class="btn btn-success" ng-click="openThisProject(project)"><i class="fa fa-pencil"></i></button>
                </div>
            </li>
        </ul>
    </div>
</div>

