<div ng-controller="ProjectAssignUsersController">

    <div class="simple-input no-margin">
        <p class="contentTitle">{{'words.users' | i18next}}</p>
        
         <!-- USER WAIT-SPINNER ANIMATED ICON -->
        <div ng-show="spinners.users" class="waitSpinner">
            <i class="fa fa-refresh fa-spin"></i><span>&nbsp;&nbsp;{{'actions.loading' | i18next}}</span>
        </div>

        <!-- PROJECTS LIST -->
        <div ng-show="employees">
            <ul class="list-group">
                <li ng-repeat="employee in employees" class="list-group-item">
                    <div class="pull-left">
                        <i class="fa fa-user"></i>
                        {{employee.fullName}}
                    </div>
                    <div class="pull-right">

                        <button class="btn btn-danger" ng-click="activeThisUser(employee._id)"><i class="fa fa-filter"></i></button>
                    
                        <button class="btn btn-warning" ng-click="openInfo(project)" 
                                title="{{'projects.projectAssign.projectGeneralInfo' | i18next}}"><i class="fa fa-info"></i></button>
                        <button class="btn btn-success" ng-click="openThisProject(project)"><i class="fa fa-pencil"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
