<div id="notifications">
    <!-- HEADER TOOL-BAR -->
    <header id="header">
        <div id="headerContent">
            <div class="flexDesign box-shadow p20 top-bar">
                <div>
                    <h3>{{'notifications.title' | i18next}}</h3>
                </div>
                 <div class="rightMargin">
                     <h4><span>{{options.length}}</span> {{'notifications.unreadNotifications' | i18next}}</h4>
                </div>
            </div>
        </div>
    </header>

    <!-- SECTION MAIN CONTENT -->
    <section id="section" class="box-shadow p20">

        <button class="btn btn-danger" ng-click="fn1()">Go !!!</button>
        <button class="btn btn-warning" ng-click="fn2()">Go !!!</button>
        <button class="btn btn-success" ng-click="fn3()">Go !!!</button>

        <!-- ***************** NOTIFICATIONS ICONS SAMPLES ***************************************** -->
        <div id="iconsSample">
            <i class="fa fa-calendar hours_req fa-lg"></i>
            <i class="fa fa-calendar-check-o hours_reviewed fa-lg"></i>
            <i class="fa fa-calendar-plus-o hours_validated fa-lg"></i>
            <i class="fa fa-calendar-times-o hours_pending_req fa-lg"></i>
            <i class="fa fa-calendar-minus-o holiday_req fa-lg"></i>
        </div>
        <!-- ***************** NOTIFICATIONS ICONS SAMPLES ***************************************** -->

        <!-- OPTIONS -->
        <div id="options" class="simple-input">
            <div class="opts">
                <input id="rad1" type="radio" name="read_unreadRadio" ng-model="options.justUnread" value="true" />
                    <label for="rad1">{{'notifications.unreads' | i18next}}</label>
            </div>
            <div class="opts">
                <input id="rad2" type="radio" name="read_unreadRadio" ng-model="options.justUnread" value="false" />
                    <label for="rad2">{{'notifications.reads' | i18next}}</label>
            </div>
        </div>

        <div>
            <div ng-show="viewSet">
                <table at-table at-config="tableConfig" at-paginated at-list="notifications" class="table table-striped">
                    <div class="table-thead"><thead></thead></div>
                    <tbody>
                        <tr ng-show="filterNotifications(item.status)"
                            title="{{item.initDate | date : 'dd/MMM/yyyy'}} - {{item.endDate | date : 'dd/MMM/yyyy'}}">
                            <td at-implicit at-sortable at-initial-sorting="asc" at-attribute="senderId.fullName" at-title="{{'notifications.from2' | i18next}}"></td>
                            <td at-implicit at-sortable at-attribute="null" at-title="{{'notifications.type' | i18next}}">
                                <div class="notiTypes" ng-switch on="item.type">
                                    <i ng-switch-when="hours_reviewed" class="fa fa-calendar-check-o hours_reviewed"
                                        title="{{'notifications.types.hours_reviewed' | i18next}}"></i>
                                    <i ng-switch-when="hours_req" class="fa fa-calendar hours_req"
                                        title="{{'notifications.types.hours_req' | i18next}}"></i>
<!--                                     <i ng-switch-when="hours_pending_req" class="fa fa-calendar-check-o hours_pending_req"
                                        title="{{'notifications.types.hours_pending_req' | i18next}}"></i>
                                    <i ng-switch-when="holiday_req" class="fa fa-calendar holiday_req"
                                        title="{{'notifications.types.holiday_req' | i18next}}"></i>
                                    <i ng-switch-when="hours_rejected" class="fa fa-calendar-minus-o hours_rejected"
                                        title="{{'notifications.types.hours_rejected' | i18next}}"></i>
 -->
                                </div>
                            </td>
                            <td at-implicit at-sortable at-attribute="null" at-title="{{'notifications.status' | i18next}}">
                                <code>
                                    {{item.status=='unread' ? ('notifications.unread' | i18next) : ('notifications.read' | i18next)}}
                                </code>
                            </td>
                            <td at-implicit at-attribute="text" at-title="{{'notifications.msg' | i18next}}" width="40%">
                                <code>{{'months.' + item.issueDate.month | i18next}} {{item.issueDate.year}}</code>
                            </td>
                            <td class="buttons">
                                <button ng-click="goTo(item)" class="btn btn-primary" title="{{'notifications.goTo' | i18next}}">
                                         <i class="fa fa-forward"></i>
                                </button>
                                <button ng-disabled="(options.justUnread == 'false')" ng-click="markRead(item._id)"
                                        ng-class="{'desactivated':(options.justUnread == 'false')}" class="btn btn-gray"
                                        ng-attr-title="{{options.justUnread == 'true' ? ('notifications.markAsRead' | i18next) : ''}}">
                                        <i class="fa fa-thumbs-up"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div ng-hide="viewSet">
                <div ng-show="filterNotifications(notification.status)" id="itemsList" ng-repeat="(key, notification) in notifications"
                    title="{{notification.initDate | date : 'dd/MMM/yyyy'}} - {{notification.endDate | date : 'dd/MMM/yyyy'}}">
                    <div class="usersList">
                        <div>
                            <ul>
                                <li>
                                    <div class="notiTypes" ng-switch on="notification.type">
                                        <i ng-switch-when="hours_reviewed" class="fa fa-calendar-check-o hours_reviewed"
                                            title="{{'notifications.types.hours_reviewed' | i18next}}"></i>
                                        <i ng-switch-when="hours_req" class="fa fa-calendar hours_req"
                                            title="{{'notifications.types.hours_req' | i18next}}"></i>
                                    </div>
                                </li>
                                <li>{{'notifications.from' | i18next}} <strong>{{notification.senderId.fullName}}</strong></li>
                                <li>{{notification.status=='unread' ? ('notifications.unread' | i18next) : ('notifications.read' | i18next)}}</li>
                                <li>{{notification.text}}
                                    <code>{{'months.' + notification.issueDate.month | i18next}} {{notification.issueDate.year}}</code>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <button ng-click="goTo(notification)" class="btn btn-primary" title="Ir a ello">
                                    <i class="fa fa-forward"></i>
                            </button>
                            <button ng-disabled="(options.justUnread == 'false')" ng-click="markRead(notification._id)"
                                    ng-class="{'desactivated':(options.justUnread == 'false')}" class="btn btn-gray"
                                    ng-attr-title="{{options.justUnread == 'true' ? ('notifications.markAsRead' | i18next) : ''}}">
                                    <i class="fa fa-thumbs-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div id="footerContent">
            <!-- <div class="copyRight">Zemsania Time Manager&copy;</div> -->
            <at-pagination ng-show="viewSet" at-config="tableConfig" at-list="notifications" class="table-pagination"></at-pagination>
            <a id="toUpButton" class="pull-right" ng-click="pageGetUp()">
                <i style="font-size: 44px;" class="fa fa-arrow-circle-o-up"></i>
            </a>
        </div>
    </footer>

</div>
