<div class="modal-dialog">

    <div class="modal-header border-b">
        <h4 class="">Atención!</h4>
    </div>

    <div class="modal-body set-padding-t-lg">
        <section class="modal-body">

            <h4 class="text-primary modal-header border-b no-padding-l">{{'timeout.message' | i18next}} {{remainingSeconds}} {{'timeout.seconds' | i18next}}</h4>
            <uib-progressbar class="progress-striped active" max="100" value="value" type="warning" animate="true"></uib-progressbar>

        </section>
    </div>

    <div class="modal-footer">
        <div class="text-right form-buttons">
        </div>
    </div>

</div>
