    <!-- HEADER TOOL-BAR -->
    <div id="tool-bar" class="box-shadow p20 top-bar">
        <div class="leftContent">
            <h3>{{'auth.profile.title' | i18next}}</h3>
        </div>
        <div class="rightContent">
            <button ng-click="changePassClick()" class="btn btn-primary no-margin">
                <span class="fa" ng-class="{'fa-minus': showPwdContent, 'fa-plus': !showPwdContent}"></span>&nbsp; {{'auth.changePassword.title' | i18next}}
            </button>
            <button ng-hide="showPwdContent" ng-disabled="userProfileForm.$invalid" class="btn no-margin" ng-click="save()"
                    ng-class="{ 'btn-gray': userProfileForm.$invalid || flag, 'btn-primary': userProfileForm.$valid && !flag}">{{'actions.save' | i18next}}
            </button>
        </div>
    </div>
    <br><br><br><br>

    <!-- CHANGE PASSWORD -->
    <section>
        <form name="pwdForm" ng-submit="processPWDChange()" class="modal-body" ng-show="showPwdContent">
            <div data-fields>
                <!-- ERROR/OK MESSAGES -->
                <div class="row simple-input">
                    <div class="col-lg-5 col-md-6" ng-show="changePassword.displayMessage != 0">
                        <p class="alert" 
                        ng-class="{ 'alert-success': changePassword.displayMessage > 0, 'alert-danger': changePassword.displayMessage < 0 }">
                            {{'auth.changePassword.' + changePassword.messageToDisplay | i18next}}
                        </p>
                    </div>
                </div>
                <!-- CURRENT PASSWORD -->
                <div class="row simple-input">
                    <div class="col-lg-5 col-md-6">
                        <div>{{'auth.changePassword.currentPassword' | i18next}}</div>
                        <input type="password" name="" ng-model="changePassword.current" class="form-control" placeholder="{{'auth.changePassword.enterCurrent' | i18next}}" required />
                    </div>
                </div>
                <br>
                <!-- NEW PASSWORD -->
                <div class="row simple-input">
                    <div class="col-lg-5 col-md-6">
                        <div>{{'auth.changePassword.newPassword' | i18next}}</div>
                        <input type="password" name="" ng-model="changePassword.new" class="form-control" placeholder="{{'auth.changePassword.enterNew' | i18next}}" required/>
                    </div>
                </div>
                <br>
                <!-- CONFIRM PASSWORD -->
                <div class="row simple-input">
                    <div class="col-lg-5 col-md-6">
                        <div>{{'auth.changePassword.confirmPassword' | i18next}}</div>
                        <input type="password" name="" ng-model="changePassword.confirm" class="form-control" placeholder="{{'auth.changePassword.enterConfirm' | i18next}}" required/>
                    </div>
                </div>                
            </div>
            <br>
            <button type="sbumit" class="btn btn-primary no-margin-t no-margin-l" ng-disabled="pwdForm.$invalid"
            ng-class="{ 'btn-gray': pwdForm.$invalid, 'btn-primary': pwdForm.$valid }">{{'auth.changePassword.changeBtn' | i18next}}</button>
        </form>
    </section>

<hr>

<div ng-hide="showPwdContent" class="box-shadow p20 over-visible">
    <div ng-show="profileStatus === 1" class="alert alert-success">{{'auth.profile.saveSuccess' | i18next}}</div>
    <div ng-show="profileStatus === 2" class="alert alert-danger">{{'auth.profile.saveError' | i18next}}</div>
    <div class="auto-form simple-input">
        <!-- USER PROFILE FORM -->
        <form name="userProfileForm" novalidate>
            <!-- USERNAME - EMAIL -->
            <div class="form-group" ng-class="{ 'has-error': userProfileForm.username.$dirty && userProfileForm.username.$invalid || flag }" >
                <label class="control-label">{{'userProfile.user.username' | i18next}}</label>
                <input type="email" id="surnameInput" maxlength="40" class="form-control" name="username" ng-model="user.username" required autofocus placeholder="Email" />
                <span class="help-block" ng-show="userProfileForm.username.$dirty && userProfileForm.username.$invalid">{{'userProfile.formValidations.usernameValid' | i18next}}</span>
                <span class="help-block" ng-show="flag">{{'userProfile.formValidations.usernameAlreadyExists' | i18next}}</span>
            </div>
            <!-- NAME -->
            <div class="form-group" ng-class="{ 'has-error': userProfileForm.name.$dirty && userProfileForm.name.$invalid }" >
                <label class="control-label">{{'userProfile.user.name' | i18next}}</label>
                <input type="text" maxlength="40" class="form-control" name="name" ng-model="user.name" required placeholder="{{'userProfile.user.name' | i18next}}" />
                <span class="help-block" ng-show="userProfileForm.name.$dirty && userProfileForm.name.$invalid">{{'userProfile.formValidations.name' | i18next}}</span>
            </div>
            <!-- SURNAME -->
            <div class="form-group" ng-class="{ 'has-error': userProfileForm.surname.$dirty && userProfileForm.surname.$invalid }">
                <label class="control-label">{{'userProfile.user.surname' | i18next}}</label>
                <input type="text" maxlength="40" class="form-control" name="surname" ng-model="user.surname" required placeholder="{{'userProfile.user.surname' | i18next}}" />
                <span class="help-block" ng-show="userProfileForm.surname.$dirty && userProfileForm.surname.$invalid">{{'userProfile.formValidations.surname' | i18next}}</span>
            </div>

            <!-- BIRTHDAY -->
            <div class="form-group" ng-class="{ 'has-error': userProfileForm.birthdate.$invalid }">
                <div class="input-group">
                    <button type="button" class="form-control button-text" ng-click="open()">{{user.birthdate | date: 'dd/MM/yyyy'}}</button>
                    <label class="control-label">{{'userProfile.user.birthdate' | i18next}}</label>
                    <input type="hidden" class="form-control" uib-datepicker-popup="dd/MM/yyyy" name="birthdate" ng-model="user.birthdate" is-open="status.opened" datepicker-options="dateOptions" close-text="{{'actions.close' | i18next}}" ng-required="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i style="font-size: 18px;" class="fa fa-calendar"></i>
                        </button>
                    </span>
                <!-- <span class="help-block" ng-show="userProfileForm.birthdate.$invalid">BIRTHDATE WRONG</span> -->
                </div>
             </div>

            <!-- NIF -->
            <div class="form-group" ng-class="{ 'has-error': userProfileForm.nif.$dirty && userProfileForm.nif.$invalid }">
                <label class="control-label">{{'userProfile.user.nif' | i18next}}</label>
                <input type="text" maxlength="15" class="form-control" name="nif" ng-model="user.nif" required placeholder="Nif" />
                <span class="help-block" ng-show="userProfileForm.nif.$dirty && userProfileForm.nif.$invalid">{{'userProfile.formValidations.nif' | i18next}}</span>
            </div>
            <!-- GENRE -->
            <div class="form-group">
                <label class="control-label">{{'userProfile.user.sex' | i18next}}</label>
                <select ng-model="user.sex" ng-options="option.slug as option.label for option in options.genre"></select>
            </div>
            <!-- LANGUAGE -->
            <div class="form-group">
                <label class="control-label">{{'userProfile.user.locale' | i18next}}</label>
                <select ng-model="user.locale" ng-options="option.slug as option.label for option in options.locale"></select>
            </div>
        </form>

    </div>
</div>
