#home-view {
  .notification-center {
    //text-align: right;
    margin-bottom: 20px;
    h1 {
      display: inline-block;
      margin: 0 10px 0 0;
    }
    .notification {
      display: inline-block;
      font-size: 30px;
      margin: 0 10px 0 10px;
      // @include transition(all .2s);
      color: rgba(black, 0.6);
      cursor: pointer;
      &.active, &:hover {
        color: $zemsania;
      }
      .notification-icon {
        position: relative;
        .notification-total {
          position: absolute;
          z-index: 99;
          font-size: 10px;
          background: $zemsania;
          width: 20px;
          height: 20px;
          text-align: center;
          color: white;
          font-weight: bold;
          border-radius: 100px;
          bottom: -5px;
          right: -10px;
          line-height: 20px;
        }
      }
    }
  }
  .notification-canvas {
    margin-top: 20px;
    .notification-alert {
      overflow: auto;
      margin-bottom: 10px;
      &:first-child {
        hr {
          display: none;
        }
      }
      .time-zone {
        color: rgba(black, 0.4);
        letter-spacing: 1px;
        font-size: 10px;
        font-weight: bold;
      }
      hr {
        margin: 0 0 20px 15px;
        width: 30%;
      }
    }
  }
  .inside-calendar {
    position: absolute;
    top: 19px;
    font-size: 13px;
    left: 7px;
  }
}