
<div id="home-view">
    <div class="box-shadow p20">
        <div class="row">
            <div class="col-md-12 notification-center">
                <h1>{{'notifications.title' | i18next}}</h1>
                        
                        <i class="fa fa-calendar-plus-o"></i>
                        <i class="fa fa-calendar-check-o"></i>
                        <i class="fa fa-calendar-times-o"></i>

                <div ng-repeat="key in notifications.keys" class="notification" ng-class="isActive(key)">
                    <div ng-switch="key" class="notification-icon" ng-click="openType(key)">
                        <i ng-switch-when="hours_sent" class="fa fa-calendar-o">
                            <i class="inside-calendar fa fa-paper-plane"></i>
                        </i>
                        <i ng-switch-when="holiday_request" class="fa fa-calendar-plus-o"></i>
                        <i ng-switch-when="hours_validated" class="fa fa-calendar-check-o"></i>
                        <i ng-switch-when="hours_rejected" class="fa fa-calendar-times-o"></i>

                    </div>
                </div>
                        <div class="notification-total">
                            {{notifications.notifications[key].length}}
                            23
                        </div>
            
            </div>

            <div class="col-md-12 notification-canvas row">
                
<!--                 <div class="col-md-12 notification-alert"
                     ng-repeat="notification in notifications.notifications[activeNotifications]">
 -->                
                    <hr>
                    <div class="col-md-9" ng-click="openNotification(notification)">
                        <p><small class="show time-zone">{{initDate | date : 'dd/MM/yyyy'}} - {{endDate | date :
                            'dd/MM/yyyy'}}</small>
                            ofnerkfjnerkj fnrk fjnrdkj vnfd
                            </p>
                    </div>
                    <div class="col-md-3 text-right">
                        <button ng-click="openNotification(notification)"
                                class="btn btn-primary no-margin">{{'actions.attend' | i18next}}
                        </button>
                        <button ng-click="markRead(notification, activeNotifications, $index)"
                                class="btn btn-gray no-margin"><i class="fa fa-times"></i> </button>
                    </div>
                <!-- </div> -->


                <div class="col-md-12 notification-alert"
                     ng-hide="notifications.notifications[activeNotifications].length">
                    <div class="col-md-12">
                        <p>{{'notifications.noNotifications' | i18next}}</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="fn1()">fn1</button>
            <button class="btn btn-success" ng-click="fn2()">fn2</button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>

  <div class="collapse1">
    <h2>Collapse 1</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <hr>
  <div class="collapse2">
    <h2>Collapse 2</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div class="collapse1">
    <h2>Collapse 1</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <hr>
  <div class="collapse2">
    <h2>Collapse 2</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
        </div>

    </div>
</div>
