<div class="box-shadow p20 top-bar tool-bar">
    <div class="pull-left">
        <h3>{{'employeeManager.create.title' | i18next}}</h3>
    </div>
    <div class="pull-right buttons">
        <button ui-sref="employeeManager" class="btn btn-gray no-margin">
            {{'actions.cancel' | i18next}}
        </button>
        <button class="btn btn-primary no-margin" ng-disabled="employeeForm.$invalid" ng-click="signupUser()">{{'actions.save' |
            i18next}}
        </button>
    </div>
</div>
<br><br><br><br>

<div class="alert alert-danger" ng-show="employee.error">{{'employeeManager.create.saveError' | i18next}}</div>
<div class="alert alert-success" ng-show="employee.success">{{'employeeManager.create.saveSuccess' | i18next}}</div>

<div class="box-shadow p20 simple-input">
    <form ng-submit="signupUser()" name="employeeForm">
        <div class="form-group row">
            <div class="col-md-6">
                <label for="user_email">{{'userProfile.user.email' | i18next}}</label>
                <input type="email" class="form-control" id="user_email" ng-model="employee.username" required placeholder="{{'userProfile.user.email' | i18next}}">
            </div>
            <div class="col-md-6">
                <label for="user_nif">{{'userProfile.user.birthdate' | i18next}}</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="employee.birthdate" is-open="status.opened" max-date="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="{{'actions.close' | i18next}}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                class="fa fa-calendar"></i></button>
                      </span>
                </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="user_name">{{'userProfile.user.name' | i18next}}</label>
                <input type="text" class="form-control" id="user_name" ng-model="employee.name" required placeholder="{{'userProfile.user.name' | i18next}}">
            </div>
            <div class="col-md-6">
                <label for="user_surname">{{'userProfile.user.lastname' | i18next}}</label>
                <input type="text" class="form-control" id="user_surname" ng-model="employee.surname" required placeholder="{{'userProfile.user.lastname' | i18next}}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="user_nif">{{'userProfile.user.nif' | i18next}}</label>
                <input type="text" class="form-control" id="user_nif" ng-model="employee.nif" required placeholder="{{'userProfile.user.nif' | i18next}}">
            </div>
            <div class="col-md-3">
                <label for="user_genre">{{'userProfile.user.genre' | i18next}}</label>
                <select id="user_genre" ng-model="employee.sex" class="col-md-12" ng-options="genre.slug as genre.name for genre in genres" required></select>
            </div>
            <div class="col-md-3">
                <label for="user_locale">{{'userProfile.user.locale' | i18next}}</label>
                <select id="user_locale" ng-model="employee.locale" class="col-md-12" ng-options="locale.slug as locale.name for locale in locales" required></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label for="user_nif">{{'holidaySchemes.title' | i18next}}</label>
                <select id="user_genre" ng-model="employee.holidayScheme" class="col-md-12" ng-options="scheme._id as scheme.name for scheme in holidaySchemes"></select>
            </div>
            <div class="col-md-4">
                <label for="user_genre">{{'workloadSchemes.title' | i18next}}</label>
                <select id="user_genre" ng-model="employee.workloadScheme" class="col-md-12" ng-options="scheme._id as scheme.name for scheme in workloadSchemes">
                        </select>

            </div>
            <div class="col-md-4">
                <div>
                    <label for="user_superior">{{'userProfile.user.superior' | i18next}}</label>
                    <select id="user_superior" ng-model="employee.superior" class="col-md-12 text-capitalize" ng-options="emp._id as (emp.name + ' ' + emp.surname) for emp in employees">
                    </select>
                </div>
                <span class="text-muted">-</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label for="user_genre">{{'userProfile.user.roles' | i18next}}</label>
                <div class="col-md-12" ng-repeat="role in roles">
                    <input id="user_role_{{role.slug}}" type="checkbox" ng-checked="role.active" ng-model="role.active" value="active" ng-change="changeRole(roles)">
                    <label class="no-bold" for="user_role_{{role.slug}}">{{role.name}}</label>
                </div>
                <div class="col-md-12 row">
                    <div class="alert alert-danger" ng-hide="employee.roles.length">{{'employeeManager.edit.minRoles' | i18next}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="user_password">{{'userProfile.user.password' | i18next}}</label>
                <div class="col-md-12 row">
                    <input type="text" disabled class="col-md-12" id="user_password" ng-model="employee.password">
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label for="user_superior">{{'userProfile.user.company' | i18next}}</label>
                    <select id="user_superior" ng-model="employee.company" class="col-md-12 text-capitalize" ng-options="c._id as c.name for c in companies">
                    </select>
                </div>
                <span class="text-muted">-</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <label for="user_enable">{{'userProfile.user.enabled' | i18next}}</label>
                <div class="col-md-12">
                    <input type="checkbox" id="user_enable" ng-model="employee.enabled" ng-checked="employee.enabled">
                    <label class="no-bold" for="user_enable">{{'userProfile.user.enabled' | i18next}}</label>
                </div>
            </div>
        </div>
    </form>
</div>