    <!-- HEADER TOOL-BAR -->
    <header id="header">
        <div id="headerContent">
            <div class="flexDesign box-shadow p20 top-bar">
                <div>
                    <h3>{{'employeeManager.list.title' | i18next}}</h3>
                </div>
                <div class="rightMargin">
                    <button ui-sref="employeeManagerCreate" class="btn btn-primary no-margin">
                        {{'employeeManager.list.createNew' | i18next}}
                    </button>
                    <button class="btn btn-primary no-margin" ng-click="toggleAdvancedSearch()" ng-class="{'active' : showAdvancedSearch}">
                        {{'employeeManager.list.advancedSearch' | i18next}}
                    </button>
                </div>
            </div>
        </div>
    </header>

    <!-- SECTION MAIN CONTENT -->
    <section id="section" class="box-shadow p20">

        <!-- ADVANCED SEARCH -->
        <div class="advanced-search" ng-show="showAdvancedSearch">
            <h4>{{'employeeManager.list.advancedSearch' | i18next}}</h4>
            <form class="form-inline simple-input" ng-submit="avancedSearch()">       
                <div class="col-md-8 form-elements">
                    <div style="width: 100%;" class="form-group">
                        <input id="searchInput" type="text" class="form-control"
                               placeholder="{{'actions.findingString' | i18next}}" ng-model="search.textToFind" />
                    </div>
                </div>
                <div class="col-md-4 form-actions">
                    <button type="reset" class="btn btn-warning">{{'actions.reset' | i18next}}</button>
                    <button type="submit" class="btn btn-primary">{{'actions.toSearch' | i18next}}</button>
                </div>
            </form>
        </div>

        <div ng-class="{'clearBoth':showAdvancedSearch}">
            <div ng-show="viewSet">
                <table at-table at-config="tableConfig" at-paginated at-list="employees" class="table table-striped">
                    <div class="table-thead">
                        <thead></thead>
                    </div>
                    <tbody>
                        <tr ng-class="{'userDisabled':!item.enabled}">
                            <td at-implicit at-sortable at-initial-sorting="asc" at-attribute="fullName" 
                                at-title="{{'userProfile.user.name' | i18next}}"></td>
                            <!-- PERSONAL MANAGER ICON -->
                            <td><i ng-show="item.isManager" style="font-size: 18px;color: blue;" 
                                   title="{{'userProfile.user.superior' | i18next}}" class="fa fa-hand-o-left"></i></td>
                            <td at-implicit at-sortable at-attribute="cp" at-title="CP"></td>
                            <td at-implicit at-sortable at-attribute="nif" at-title="{{'userProfile.user.nif' | i18next}}"></td>
                            <td at-implicit at-sortable at-attribute="username" at-title="{{'userProfile.user.email' | i18next}}"></td>
                            <td class="options-section">
                                <a ui-sref="employeeManagerEdit({id: item._id})" class="btn btn-success">
                                    <i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div ng-hide="viewSet">
                <div id="itemsList" ng-repeat="(key, value) in employees | orderBy: 'fullName'">
                    <div class="usersList">
                        <ul ng-class="{'userDisabled':!value.enabled}">
                            <li><strong>{{value.fullName}}</strong>
                                <!-- PERSONAL MANAGER ICON -->
                                <i ng-show="value.isManager" style="font-size: 18px;color: blue;" 
                                   title="{{'userProfile.user.superior' | i18next}}" class="fa fa-hand-o-left"></i>
                            </li>
                            <li>CP {{value.cp}}</li>
                            <li>NIF {{value.nif}}</li>
                            <li>{{value.username}}</li>
                        </ul>
                            <a ui-sref="employeeManagerEdit({id: value._id })" class="btn btn-success">
                                    <i class="fa fa-pencil"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer id="footer">
        <div id="footerContent">
            <at-pagination ng-show="viewSet" at-config="tableConfig" at-list="employees" class="table-pagination"></at-pagination>
            <a id="toUpButton" class="pull-right" ng-click="pageGetUp()">
                <i style="font-size: 44px;" class="fa fa-arrow-circle-o-up"></i>
            </a>
        </div>
    </footer>
