<div id="imputeSummaryModal" class="{{dayInfo.dayType}}">

    <div id="modalTitle" class="modal-header border-b">
        <p>
            {{'days.' + (dayInfo.day | amDateFormat:'ddd') | i18next}}
            {{dayInfo.day | amDateFormat:'DD MMMM YYYY'}}            
        </p>
    </div>

    <div class="modal-body set-padding-t-lg">
        <div class="typeGroup {{dayInfo.dayType}}" ng-repeat="(imputeTypeKey, imputeTypeValue) in dayInfo.imputeTypesInfo">
            <p class="imputeType">
                {{imputeTypeKey}}
            </p>
            <div class="subTypeGroup {{dayInfo.dayType}}" ng-repeat="(imputeSubTypeKey, imputeSubTypeValue) in imputeTypeValue" 
                 ng-click="goTo(imputeTypeKey,imputeSubTypeValue.subType)">
                <p class="subType">
                    <span>{{imputeSubTypeValue.subType}}</span>
                    <span>{{imputeSubTypeValue.value}}</span>
                </p>
            </div>
        </div>

        <div class="totalHours">
            {{'calendar.imputeHours.totalHours' | i18next}} <span> {{dayInfo.totalHours}}</span>
        </div>

    </div>

    <div class="modal-footer">
        <div class="text-right form-buttons">
            <button type="button" ng-click="cancel()" class="btn btn-warning no-margin">{{'actions.cancel' | i18next}}</button>
        </div>
    </div>

</div>