<div class="modal-header border-b">
    <h4 class="">Atención!</h4>
</div>

    <div class="modal-body set-padding-t-lg">
        <!-- <section class="modal-body"> -->
            <h4 class="text-primary modal-header border-b no-padding-l">Existen cambios pendientes de guardar</h4>
            <h5 class="text-primary modal-header border-b no-padding-l">¿Desea guardar los cambios?</h5>
        <!-- </section> -->
    </div>

    <div class="modal-footer">
        <div class="text-right form-buttons">
            <button type="button" ng-click="save()" class="btn btn-primary no-margin">{{'words.yes' | i18next}}</button>
            <button type="button" ng-click="notSave()" class="btn btn-primary no-margin">{{'words.no' | i18next}}</button>
            <button type="button" ng-click="cancel()" class="btn btn-warning no-margin">{{'actions.cancel' | i18next}}</button>
        </div>
    </div>

