#calendars #section {
		#months {
				width: 95%;
				margin: auto;
				border: solid 1px #6C6C6C;
				border-radius: 5px;
				background-color: #FBFBFB;
				padding: 15px 5px;
				text-align: center;
			.calendar {
						display: inline-block;
						margin: 5px;
						border-radius: 5px;
			}
		}

		#options {
				width: 95%;
				margin: auto;
				padding: 5px;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				border: solid 1px gray;
				margin-bottom: 15px;
				border-radius: 5px;
				color: #706F6F;
				font-size: 17px;

			/***** HOURS_BY_HOURS *****/
			#hoursByMonth {
					border: solid 2px #6C6C6C;
					border-radius: 5px;
					background-color: #FBFBFB;
					width: 330px;
					margin: 5px auto;
					/*text-align: left;*/
					padding: 10px;				
			}
			/***** LEYEND *****/
			#leyend {
					border: solid 2px #6C6C6C;
					border-radius: 5px;
					background-color: #FBFBFB;
					width: 280px;
					margin: 5px auto;
					text-align: left;
					padding: 10px;
				.leyendBox {
							height: 20px;
							width: 80px;
							border-radius: 2px;
							border: solid 1px black;
							display: inline-block;
				}
				#workingLeyend {
				    @extend .ext_flex-start_;
						 div:first-of-type {
					 			background-color: $workingColor;
					 			margin: 3px 10px 5px 3px;
						 }
				}
				#fridayLeyend {
				    @extend .ext_flex-start_;
						 div {
					 			background-color: $fridayColor;
					 			margin: 5px 10px 7px 3px;
						 }
				}
				#intensiveLeyend {
				    @extend .ext_flex-start_;
						 div {
					 			background-color: $intensiveColor;
					 			margin: 5px 10px 7px 3px;
						 }
				}
				#specialLeyend {
				    @extend .ext_flex-start_;
						 div {
					 			background-color: $specialColor;
					 			margin: 5px 10px 7px 3px;
						 }
				}
				#holidaysLeyend {
				    @extend .ext_flex-start_;
						 div {
					 			background-color: $holidaysColor;
					 			margin: 5px 10px 7px 3px;
						 }					
				}
				#non_workingLeyend {
				    @extend .ext_flex-start_;
						 div:first-of-type {
					 			background-color: $non_workingColor;
					 			margin: 5px 10px 7px 3px;
						 }
				}
					#workingRange, #fridayRange, 
					#intensiveRange, #specialRange {
								text-align: right;
								font-size: 15px;
								margin-top: -6px;
					}
			} // #leyend
			#hoursByMonth {
					width: 280px;
					div {
						border: solid 1px #EAEAEA;
						margin-bottom: 2px;
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-between;
						align-items: center;
						padding: 1px 15px;
						span:nth-of-type(2) {
							font-size: 15px;
						}
					}
			}
		} // #options
		#yearSelect {
				width: 90%;
	  			margin: auto;
		}

		/*// **** DAYS CALENDAR COLORS *****/
		.showHolidays a {
				    background-color: $holidaysColor !important;
				    @extend .ext_cellColor;
				}
		.showWorking a {
				    background-color: $workingColor !important;
				    @extend .ext_cellColor;
				}
		.showFriday a {
				    background-color: $fridayColor !important;
				    @extend .ext_cellColor;
				}
		.showIntensive a {
				    background-color: $intensiveColor !important;
				    @extend .ext_cellColor;
				}
		.showSpecial a {
				    background-color: $specialColor !important;
				    @extend .ext_cellColor;
				}
		.showNon_working a {
				    background-color: $non_workingColor !important;
				    @extend .ext_cellColor;
				}
/*		.showDefault a {
				    background-color: #DFDFDF !important;
				    @extend .ext_cellColor;
				}
*/		

  @media( max-width: 850px ) {
  	#options {
  		#leyend {
  			margin-bottom: 20px;
  		}
	} 
  }
} //#calendars #section

// @extends clases
.ext_flex-start_ {
	margin-top: 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
.ext_cellColor {
	background-image :none !important;
	color: #ffffff !important;
}
