#projectAssign {

	#header {
		#headerContent {			
		}
	}

	#section {
		#mainContent {
			clear: both;

			.contentTitle {
				font-family: monospace;
				font-size: 22px;
				text-align: center;
			}
			.mainBoxes {
				min-height: 300px;
				max-height: 550px;
				overflow-y: auto;
			}
			.waitSpinner {
				text-align: center;
				margin-top: 25px;
				i {
					font-size: 24px;
				}
				span {
					font-size: 18px;
				}
			}
			.item {
				padding: 10px;
				&:hover, &:hover * {
					cursor: pointer;
					.icon {
						color: blue;
					}
				}

			}
			.activeItem {
				// border: 1px solid orange;
				background-color: #333;
				color: white;
				border-radius: 5px;
				i.icon {
					// color: blue;
				}
			}
		}
	}
}

// MODALS
// MODAL PROJECT INFO
#modal-info {
	.modal-title {
		font-family: monospace;		
	}
	.modal-body {
		margin-top: 10px;
		padding: 0 20px;
		.tittle {
			font-family: monospace;
			font-size: 17px;
			font-weight: bold;
		}
	}
	.modal-footer {
		padding: 0 20px 20px 20px;
	}
}
