#projectAssign {

	#header {
		#headerContent {			
		}
	}

	#section {
		#mainContent {
			clear: both;

			.contentHead {
				font-family: monospace;
				font-size: 18px;
				text-align: center;
			}
			.mainBoxes {
				min-height: 300px;
				max-height: 550px;
				overflow-y: auto;
			}
			.waitSpinner {
				text-align: center;
				margin-top: 25px;
				i {
					font-size: 24px;
				}
				span {
					font-size: 18px;
				}
			}
			.item {
				padding: 10px;
				&:hover, &:hover * {
					cursor: pointer;
					.icon {
						color: blue;
					}
				}
				.leftContent {
					overflow: hidden;
	                white-space: nowrap;
				}
			}
			.activeItem {
				background-color: #666;
				color: white;
				border-radius: 5px;
				i.icon {
					// color: blue;
				}
			}
		}
	}
}

// MODAL PROJECT INFO
#modal-info {
	.modal-title {
		font-family: monospace;		
	}
	.modal-body {
		margin-top: 10px;
		padding: 0 20px;
		.tittle {
			font-family: monospace;
			font-size: 17px;
			font-weight: bold;
		}
	}
	.modal-footer {
		padding: 0 20px 20px 20px;
	}	
}


// MODAL MARCATE PROJECTS OR USERS
#marcate {
	font-size: 17px;
	font-family: monospace;
	.waitSpinner {
		text-align: center;
		margin-top: 25px;
		i {
			font-size: 24px;
		}
		span {
			font-size: 18px;
		}
	}

	#maxHoursContent {
		margin-top: 15px;
	}

	#mainContent {
		min-height: 200px;
		max-height: 350px;
		overflow-y: auto;
		overflow-x: hidden;
		margin-top: 15px;
		padding: 15px 0 10px 0;
			ul  {
				list-style-type: none;
			}
			li {
				margin-bottom: 10px;
			}
			.leftContent {
				overflow: hidden;
	            white-space: nowrap;
	            text-align: left;
				}
			.rightContent {
				text-align: center;				
			}
		}	
}
