<div id="projectAssign">
    <!-- HEADER TOOL-BAR -->
    <header id="header">
        <div id="headerContent">
            <div class="flexDesign box-shadow p20 top-bar">
                <div>
                    <h3>{{'projects.projectAssign.title' | i18next}}</h3>
                </div>
                 <div class="rightMargin">
                </div> 
            </div>
        </div>
    </header>

    <!-- SECTION MAIN CONTENT -->
    <section id="section" class="box-shadow p20">

<!-- <button class="btn btn-success" ng-click="fn()">Go!</button> -->
        <!-- ALERTS MESSAGES -->
        <alert-message error="alerts.error" msg="alerts.message"></alert-message>

        <!-- ADVANCED SEARCH -->
        <div class="advanced-search">
            <h4>{{'employeeManager.list.advancedSearch' | i18next}}</h4>
            <form class="form-inline simple-input" ng-submit="searchProject(searchText)">       
                <div class="col-md-8 form-elements">
                    <div style="width: 100%;" class="form-group">
                        <input id="searchInput" ng-model="searchText" type="text" class="form-control" 
                                placeholder="{{'projects.projectAssign.searchPlaceholder' | i18next}}" autocomplete="off" />
                    </div>
                </div>
                <div class="col-md-4 form-actions">
                    <button type="reset" class="btn btn-warning">{{'actions.reset' | i18next}}</button>
                    <button type="submit" class="btn btn-primary">{{'actions.toSearch' | i18next}}</button>
                </div>
            </form>
        </div>

        <div id="mainContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="mainBoxes box-shadow p20"
                         ng-include="'/features/projects/projectAssign/partials/projectPartial.tpl.html'">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mainBoxes box-shadow p20"
                         ng-include="'/features/projects/projectAssign/partials/userPartial.tpl.html'">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div id="footerContent">
            <div class="copyRight">Zemsania Time Manager&copy;</div>
        </div>
    </footer>

</div>
