#complex_layout {
  height: 100%;
  /* Sidebar Styles */
}
#complex_layout #wrapper {
  height: 100%;
  padding-left: 0;
}
#complex_layout #wrapper #menuButton {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
  z-index: 1000;
}
#complex_layout #page-content-wrapper {
  height: 100%;
  margin: 10px;
  margin-left: 255px;
  position: relative;
  transition: all .7s ease;
  z-index: 10;
  /* users list on employeeManager/List */
}
#complex_layout #page-content-wrapper #header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 90px;
}
#complex_layout #page-content-wrapper #header * {
  margin-bottom: 5px;
}
#complex_layout #page-content-wrapper #header #headerContent {
  width: 95%;
  margin: auto;
}
#complex_layout #page-content-wrapper #section {
  position: absolute;
  top: 95px;
  bottom: 45px;
  left: 0;
  right: 0;
  overflow: auto;
  border: 1px solid #DDDDDD;
}
#complex_layout #page-content-wrapper #footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
#complex_layout #page-content-wrapper #footer #footerContent {
  width: 80%;
  margin: 0 auto;
}
#complex_layout #page-content-wrapper #footer #footerContent .copyRight {
  font-size: 17px;
  color: #1F1F1F;
  text-shadow: 2px 2px 5px red;
}
#complex_layout #page-content-wrapper .flexDesign {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#complex_layout #page-content-wrapper .rightMargin > * {
  margin-right: 10px !important;
}
#complex_layout #page-content-wrapper #itemsList {
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #E0E0E0;
}
#complex_layout #page-content-wrapper #itemsList:hover {
  background-color: #F6F6F6;
}
#complex_layout #page-content-wrapper #itemsList ul li {
  list-style: none;
}
#complex_layout #page-content-wrapper #itemsList .usersList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#complex_layout #page-content-wrapper #toUpButton {
  display: none;
}
#complex_layout #sidebar-wrapper {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-y: auto;
  transition: all 2s ease;
  z-index: 100;
}
#complex_layout #sidebar-wrapper.toggled {
  left: 0;
  top: 0;
}
#complex_layout .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 5px 0 55px;
  list-style: none;
}
#complex_layout .sidebar-nav li {
  overflow: hidden;
  margin-right: 10px;
  white-space: nowrap;
  text-indent: 3px;
}
#complex_layout .sidebar-nav li.top-separator {
  border-bottom: dotted 1px #C3C3C3;
}
#complex_layout .sidebar-nav li.bottom {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 250px;
  box-shadow: 0 -5px 25px -15px rgba(0, 0, 0, 0.4);
}
#complex_layout .sidebar-nav li a {
  height: 38px;
  display: block;
  text-decoration: none;
  color: #252525;
  box-shadow: inset 2px 0 white;
  transition: all .2s;
}
#complex_layout .sidebar-nav li a i {
  text-indent: 0;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  font-size: 22px;
  line-height: 22px;
  width: 38px;
  color: rgba(0, 0, 0, 0.5);
}
#complex_layout .sidebar-nav li a.active i {
  color: white;
  background-color: #F15A29;
}
#complex_layout .sidebar-nav li a:hover:not(.noShadowForMePlease) {
  text-decoration: none;
  color: #F15A29;
  box-shadow: inset 45px 0 #F15A29;
}
#complex_layout .sidebar-nav li a:hover:not(.noShadowForMePlease) i {
  color: white;
}
#complex_layout .sidebar-nav li a:focus, #complex_layout .sidebar-nav li a:active {
  text-decoration: none;
}
#complex_layout .sidebar-nav > .sidebar-brand {
  z-index: 10;
  background: white;
  position: fixed;
  top: 0;
  width: 250px;
  box-shadow: 0 20px 25px -25px rgba(0, 0, 0, 0.1);
}
#complex_layout .sidebar-nav > .sidebar-brand a {
  height: auto;
}
#complex_layout .sidebar-nav > .sidebar-brand a img {
  padding: 10px 0 0 50px;
  height: 60px;
  display: block;
}
#complex_layout .sidebar-nav > .sidebar-mobile {
  z-index: 5;
  position: relative;
  top: 95px;
  left: 0;
}
#complex_layout .sidebar-nav .not-active {
  pointer-events: none;
  cursor: default;
  color: #C2C2C2;
}
@media (max-width: 768px) {
  #complex_layout #wrapper #menuButton {
    display: block;
  }
  #complex_layout #sidebar-wrapper {
    left: -250px;
    top: -135px;
  }
  #complex_layout #page-content-wrapper {
    margin-left: 42px;
  }
  #complex_layout #page-content-wrapper #itemsList {
    width: 95%;
    margin: 15px auto;
    padding: 8px 2px;
  }
}
@media (max-width: 1044px) {
  #complex_layout #page-content-wrapper .flexDesign {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
}
#complex_layout .box-shadow, #complex_layout .header-mobile, #complex_layout .dropdown-menu[uib-datepicker-popup-wrap] {
  background: white;
  overflow: auto;
  margin-bottom: 20px;
}
#complex_layout .box-shadow.p10, #complex_layout .p10.header-mobile, #complex_layout .p10.dropdown-menu[uib-datepicker-popup-wrap] {
  padding: 10px;
}
#complex_layout .box-shadow.p20, #complex_layout .p20.header-mobile, #complex_layout .p20.dropdown-menu[uib-datepicker-popup-wrap] {
  padding: 20px;
}
#complex_layout .box-shadow.floating-box, #complex_layout .floating-box.header-mobile, #complex_layout .floating-box.dropdown-menu[uib-datepicker-popup-wrap] {
  position: fixed;
  bottom: 0;
  z-index: 99;
  margin-right: 35px;
}
@media (max-width: 767px) {
  #complex_layout .box-shadow.floating-box, #complex_layout .floating-box.header-mobile, #complex_layout .floating-box.dropdown-menu[uib-datepicker-popup-wrap] {
    margin-right: 15px;
  }
}
#complex_layout .box-shadow.floating-box .alert, #complex_layout .floating-box.header-mobile .alert, #complex_layout .floating-box.dropdown-menu[uib-datepicker-popup-wrap] .alert {
  margin: -20px;
}
#complex_layout .box-shadow.over-visible, #complex_layout .over-visible.header-mobile, #complex_layout .over-visible.dropdown-menu[uib-datepicker-popup-wrap] {
  overflow: visible;
}
#complex_layout .box-shadow h1, #complex_layout .header-mobile h1, #complex_layout .dropdown-menu[uib-datepicker-popup-wrap] h1 {
  margin: 0 0 20px;
  font-weight: 100;
  font-size: 30px;
}
#complex_layout .userDisabled {
  text-decoration: line-through;
  color: #FFC0C0;
}
#complex_layout .header-mobile {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 10px;
  background: white;
  z-index: 99999;
}
#complex_layout .header-mobile button {
  color: #F15A29;
  border: none;
  background: transparent;
}
#complex_layout table.table-striped.table .table-thead {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}
#complex_layout table.table-striped.table tr > th {
  cursor: pointer;
}
#complex_layout table.table-striped.table > tbody > tr > td {
  border: none;
  vertical-align: middle;
}
#complex_layout table.table-striped.table > tbody > tr > td.options-section {
  width: 100px;
  text-align: right;
}
#complex_layout .table-pagination {
  text-align: right;
}
#complex_layout .table-pagination .pagination li.active a {
  color: white;
  background: #F15A29;
}
#complex_layout .table-pagination .pagination li a {
  color: #F15A29;
  border: none;
  border-radius: 0;
}
#complex_layout .header > div:first-child h3.p3 {
  padding: 3px 0;
}
#complex_layout .header > div:first-child h3.p3.subtitle {
  margin-bottom: 15px !important;
  font-weight: 100;
}
#complex_layout .header > div:last-child p {
  margin: 0;
}
#complex_layout .header > div:last-child ul[uib-datepicker-popup-wrap] {
  left: auto !important;
  right: 0 !important;
}
#complex_layout .top-bar.widget {
  overflow: visible;
  min-height: 66px;
}
#complex_layout .top-bar h1, #complex_layout .top-bar h2, #complex_layout .top-bar h3, #complex_layout .top-bar h4, #complex_layout .top-bar h5, #complex_layout .top-bar h6 {
  margin: 0;
  font-weight: 100;
}
@media (max-width: 767px) {
  #complex_layout .top-bar .pull-left {
    float: none !important;
  }
  #complex_layout .top-bar .pull-left h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
#complex_layout .top-bar .pull-right {
  margin: -5px 0;
}
@media (max-width: 767px) {
  #complex_layout .top-bar .pull-right {
    margin-top: 10px;
    float: none !important;
    text-align: center;
  }
}
#complex_layout .top-bar .pull-right.buttons {
  margin-top: -3px;
}
#complex_layout .top-bar .pull-right a {
  font-size: 25px;
  color: #252525;
  margin-left: 10px;
}
#complex_layout .top-bar .pull-right a:hover, #complex_layout .top-bar .pull-right a.active {
  color: #F15A29;
}
#complex_layout .tooltip .tooltip-arrow {
  border-left-color: #F15A29;
}
#complex_layout .tooltip .tooltip-inner {
  border-radius: 0;
  padding: 5px 7px;
  color: white;
  background-color: #F15A29;
}
#complex_layout .glyphicon-minus {
  font: normal normal normal 14px/1 FontAwesome;
}
#complex_layout .glyphicon-minus:before {
  content: "";
}
#complex_layout .glyphicon-chevron-down {
  font: normal normal normal 14px/1 FontAwesome;
}
#complex_layout .glyphicon-chevron-down:before {
  content: "\f107";
}
#complex_layout .glyphicon-chevron-up {
  font: normal normal normal 14px/1 FontAwesome;
}
#complex_layout .glyphicon-chevron-up:before {
  content: "\f106";
}
#complex_layout .advanced-search .col-md-12.form-elements {
  padding: 0;
  margin-bottom: 20px;
}
#complex_layout .advanced-search .col-md-12.form-elements > div {
  padding: 0 20px 0 0;
}
#complex_layout .advanced-search .col-md-12.form-elements > div:last-child {
  padding: 0;
}
#complex_layout .advanced-search .form-group input {
  width: 100%;
}
#complex_layout .advanced-search .form-actions {
  text-align: right;
  float: right;
}
#complex_layout .advanced-search .form-actions .btn {
  margin-top: 0;
}
#complex_layout .advanced-search .form-actions .btn.btn-warning {
  background-color: #9E9E9E !important;
  margin-top: 0 !important;
}
#complex_layout .advanced-search .form-actions .btn.btn-warning:hover {
  background-color: #858585 !important;
}
#complex_layout .form-group {
  margin-bottom: 25px;
}
#complex_layout div > label {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#complex_layout div > label.no-bold {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0;
  text-transform: inherit;
  font-weight: normal;
}
#complex_layout input[disabled] {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.5);
}
#complex_layout input[disabled].no-bg {
  background: transparent;
  cursor: pointer;
}
#complex_layout .auto-form label {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.7);
}
#complex_layout .auto-form label.aux {
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  vertical-align: top;
  margin-bottom: 0;
}
#complex_layout .auto-form input:not([type=checkbox]), #complex_layout .auto-form select {
  width: 100%;
}
#complex_layout .auto-form div[ng-switch-when] {
  text-align: left;
}
#complex_layout .auto-form div[class^='col-md-'] {
  margin-bottom: 20px;
}
#complex_layout .form-partial {
  width: 100%;
  display: table;
}
#complex_layout .form-partial.form-simple .input-group {
  width: 100%;
}
#complex_layout .form-partial.form-simple .buttons {
  min-width: 100% !important;
}
#complex_layout .form-partial .input-group {
  display: table-cell;
  width: 100%;
}
#complex_layout .form-partial .input-group > div {
  display: table;
  width: 100%;
  padding-right: 20px;
}
#complex_layout .form-partial .input-group > div .input-group-addon {
  display: table-cell;
  width: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: none;
  padding-left: 0;
  font-size: 18px;
}
#complex_layout .form-partial .input-group > div input[type=email].form-control,
#complex_layout .form-partial .input-group > div input[type=text].form-control {
  display: table-cell;
  width: 100%;
}
#complex_layout .form-partial .buttons {
  display: table-cell;
  text-align: right;
}
#complex_layout .form-partial .buttons button.mini {
  padding: 7px 10px;
}
#complex_layout .list-group {
  margin-top: 20px;
  margin-bottom: 0;
}
#complex_layout .list-group li.list-group-input {
  border-bottom: none !important;
  margin-bottom: 10px;
}
#complex_layout .list-group li.list-group-input .input-group {
  width: 100%;
}
#complex_layout .list-group li.list-group-input .input-group > div {
  display: table;
  width: 100%;
}
#complex_layout .list-group li.list-group-input .input-group > div .input-group-addon {
  display: table-cell;
  width: 40px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: none;
  padding-left: 0;
  font-size: 18px;
  line-height: 21px;
}
#complex_layout .list-group li.list-group-item {
  overflow: auto;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 10px 5px;
}
#complex_layout .list-group li.list-group-item:last-child {
  border: none;
}
#complex_layout .list-group li.list-group-item.hover {
  margin: 0 -20px;
  padding: 7px 25px;
}
#complex_layout .list-group li.list-group-item.hover:hover {
  background: rgba(0, 0, 0, 0.04);
}
#complex_layout .list-group li.list-group-item .pull-left {
  padding: 5px 0;
  cursor: default;
}
#complex_layout .list-group li.list-group-item .pull-left i {
  font-size: 18px;
  vertical-align: top;
  width: 25px;
  margin-right: 5px;
}
#complex_layout .list-group li.list-group-item .pull-right {
  text-align: right;
}
#complex_layout .list-group li.list-group-item .pull-right button {
  width: 30px;
  height: 30px;
  padding: 5px;
}
#complex_layout [ng-click] {
  cursor: pointer;
}
#complex_layout .image-link {
  margin-top: -20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  color: #252525;
}
#complex_layout .image-link:hover, #complex_layout .image-link:active, #complex_layout .image-link:focus {
  text-decoration: none;
  color: #F15A29;
}
#complex_layout .image-link .fa-paperclip {
  font-size: 22px;
}
#complex_layout .image-link span {
  padding-left: 10px;
}
#complex_layout .image-link span small {
  margin-left: 10px;
  opacity: 0.5;
}
#complex_layout .box-shadow.list-rows, #complex_layout .list-rows.header-mobile, #complex_layout .list-rows.dropdown-menu[uib-datepicker-popup-wrap] {
  padding: 0 20px !important;
}
#complex_layout .box-shadow.list-rows li, #complex_layout .list-rows.header-mobile li, #complex_layout .list-rows.dropdown-menu[uib-datepicker-popup-wrap] li {
  border-bottom: 1px solid rgba(37, 37, 37, 0.1);
  padding: 10px 15px !important;
}
#complex_layout .box-shadow.list-rows li:last-child, #complex_layout .list-rows.header-mobile li:last-child, #complex_layout .list-rows.dropdown-menu[uib-datepicker-popup-wrap] li:last-child {
  border-bottom: none;
}
#complex_layout .box-shadow.list-rows li:hover, #complex_layout .list-rows.header-mobile li:hover, #complex_layout .list-rows.dropdown-menu[uib-datepicker-popup-wrap] li:hover {
  border-bottom: 1px solid transparent;
  background: #F15A29 !important;
  color: white;
}

#login_view {
  background: white;
  height: 100%;
  width: 100%;
  display: table;
}
#login_view canvas {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#login_view .vertical {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  text-align: center;
}
#login_view .login-view {
  height: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  #login_view .login-view {
    padding: 20px 0;
    height: auto;
    display: table-cell;
    vertical-align: middle;
  }
}
#login_view .login-view .col-md-8 {
  height: 100%;
  display: table;
}
@media (max-width: 767px) {
  #login_view .login-view .col-md-8 {
    height: auto;
  }
}
#login_view .login-view .col-md-8 img.logo {
  width: 70%;
}
@media (max-width: 767px) {
  #login_view .login-view .col-md-8 img.logo {
    margin-bottom: 20px;
  }
}
#login_view .login-view .col-md-4 {
  display: table;
  height: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  background: white;
}
@media (max-width: 767px) {
  #login_view .login-view .col-md-4 {
    height: auto;
    margin-left: 8.33333333%;
  }
}
#login_view .login-view .col-md-4 .login-box {
  opacity: 0;
}
#login_view .login-view .col-md-4 .login-box.visible {
  opacity: 1;
}
#login_view .login-view .col-md-4 .login-box h3 {
  font-weight: 300;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  #login_view .login-view .col-md-4 .login-box h3 {
    margin-bottom: 20px;
  }
}
#login_view .login-view .col-md-4 .login-box form {
  margin: 0 17%;
}
#login_view .login-view .col-md-4 .login-box form .help-block {
  text-align: left;
  font-size: 10px;
  font-weight: 600;
  height: 14px;
  opacity: 1;
}
#login_view .login-view .col-md-4 .login-box form .help-block.ng-hide {
  opacity: 0;
  display: block !important;
  height: 0;
  overflow: hidden;
}
#login_view .login-view .col-md-4 .login-box form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0;
  padding: 5px 0;
}
#login_view .login-view .col-md-4 .login-box form input:focus {
  border-bottom: 1px solid #F15A29;
}
#login_view .login-view .col-md-4 .login-box form p.restore-password {
  padding: 10px 0 0;
  font-size: 12px;
  font-weight: 600;
}
#login_view .login-view .col-md-4 .login-box form p.restore-password a {
  color: rgba(0, 0, 0, 0.4);
}
#login_view .login-view .col-md-4 .login-box form p.restore-password a:hover, #login_view .login-view .col-md-4 .login-box form p.restore-password a:active, #login_view .login-view .col-md-4 .login-box form p.restore-password a:focus {
  color: #F15A29;
  text-decoration: none;
}

#calendars #section {
  /*// **** DAYS CALENDAR COLORS *****/
  /*		.showDefault a {
  				    background-color: #DFDFDF !important;
  				    @extend .ext_cellColor;
  				}
  */
}
#calendars #section #months {
  width: 95%;
  margin: auto;
  border: solid 1px #6C6C6C;
  border-radius: 5px;
  background-color: #FBFBFB;
  padding: 15px 5px;
  text-align: center;
}
#calendars #section #months .calendar {
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}
#calendars #section #options {
  width: 95%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: solid 1px gray;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #706F6F;
  font-size: 17px;
  /***** HOURS_BY_HOURS *****/
  /***** LEYEND *****/
}
#calendars #section #options #hoursByMonth {
  border: solid 2px #6C6C6C;
  border-radius: 5px;
  background-color: #FBFBFB;
  width: 330px;
  margin: 5px auto;
  /*text-align: left;*/
  padding: 10px;
}
#calendars #section #options #leyend {
  border: solid 2px #6C6C6C;
  border-radius: 5px;
  background-color: #FBFBFB;
  width: 280px;
  margin: 5px auto;
  text-align: left;
  padding: 10px;
}
#calendars #section #options #leyend .leyendBox {
  height: 20px;
  width: 80px;
  border-radius: 2px;
  border: solid 1px black;
  display: inline-block;
}
#calendars #section #options #leyend #workingLeyend div:first-of-type {
  background-color: #85AC0C;
  margin: 3px 10px 5px 3px;
}
#calendars #section #options #leyend #fridayLeyend div {
  background-color: #286ABA;
  margin: 5px 10px 7px 3px;
}
#calendars #section #options #leyend #intensiveLeyend div {
  background-color: #EBC21C;
  margin: 5px 10px 7px 3px;
}
#calendars #section #options #leyend #specialLeyend div {
  background-color: #FF831C;
  margin: 5px 10px 7px 3px;
}
#calendars #section #options #leyend #holidaysLeyend div {
  background-color: #ff0000;
  margin: 5px 10px 7px 3px;
}
#calendars #section #options #leyend #non_workingLeyend div:first-of-type {
  background-color: #808080;
  margin: 5px 10px 7px 3px;
}
#calendars #section #options #leyend #workingRange, #calendars #section #options #leyend #fridayRange,
#calendars #section #options #leyend #intensiveRange, #calendars #section #options #leyend #specialRange {
  text-align: right;
  font-size: 15px;
  margin-top: -6px;
}
#calendars #section #options #hoursByMonth {
  width: 280px;
}
#calendars #section #options #hoursByMonth div {
  border: solid 1px #EAEAEA;
  margin-bottom: 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1px 15px;
}
#calendars #section #options #hoursByMonth div span:nth-of-type(2) {
  font-size: 15px;
}
#calendars #section #yearSelect {
  width: 90%;
  margin: auto;
}
#calendars #section .showHolidays a {
  background-color: #ff0000 !important;
}
#calendars #section .showWorking a {
  background-color: #85AC0C !important;
}
#calendars #section .showFriday a {
  background-color: #286ABA !important;
}
#calendars #section .showIntensive a {
  background-color: #EBC21C !important;
}
#calendars #section .showSpecial a {
  background-color: #FF831C !important;
}
#calendars #section .showNon_working a {
  background-color: #808080 !important;
}
@media (max-width: 850px) {
  #calendars #section #options #leyend {
    margin-bottom: 20px;
  }
}

.ext_flex-start_, #calendars #section #options #leyend #workingLeyend, #calendars #section #options #leyend #fridayLeyend, #calendars #section #options #leyend #intensiveLeyend, #calendars #section #options #leyend #specialLeyend, #calendars #section #options #leyend #holidaysLeyend, #calendars #section #options #leyend #non_workingLeyend {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.ext_cellColor, #calendars #section .showHolidays a, #calendars #section .showWorking a, #calendars #section .showFriday a, #calendars #section .showIntensive a, #calendars #section .showSpecial a, #calendars #section .showNon_working a {
  background-image: none !important;
  color: #ffffff !important;
}

#imputeHours #daysDiv {
  border: solid 1px gray;
  border-radius: 3px;
  width: 90%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#imputeHours #daysDiv .myDay {
  border: solid 1px gray;
  background-color: #EAEAEA;
  border-radius: 3px;
  height: 95px;
  width: 85px;
  margin: 7px;
  display: inline-block;
  transition: all 2s ease;
}
#imputeHours #daysDiv .myDay:hover {
  border: solid 1px #CAB023;
  background-color: #B7B7B7;
}
#imputeHours #daysDiv .myDay.friday {
  background-color: #286ABA;
}
#imputeHours #daysDiv .myDay.working {
  background-color: #85AC0C;
}
#imputeHours #daysDiv .myDay.intensive {
  background-color: #EBC21C;
}
#imputeHours #daysDiv .myDay.special {
  background-color: #FF831C;
}
#imputeHours #daysDiv .myDay.holidays {
  background-color: #ff0000;
}
#imputeHours #daysDiv .myDay.non_working {
  background-color: #808080;
}
#imputeHours #daysDiv .myDay.desactive {
  pointer-events: none;
  cursor: default;
  background-color: #000000;
}
#imputeHours #daysDiv .myHeader {
  height: 20px;
  border-bottom: solid 1px gray;
  text-align: center;
  font-size: 15px;
  color: white;
}
#imputeHours #daysDiv .myInput {
  padding: 5px 8px;
}
#imputeHours #daysDiv .myInput input {
  text-align: center;
  font-size: 19px;
  color: red;
  transition: all .8s ease;
}
#imputeHours #daysDiv .myInput input:focus {
  font-size: 20px;
  color: #D70303;
}
#imputeHours #daysDiv .myFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
#imputeHours #daysDiv .myFooter i {
  font-size: 10px;
}
#imputeHours #daysDiv .myFooter a:nth-of-type(1) {
  background-color: #4A7ADC;
}
#imputeHours #daysDiv .myFooter a:nth-of-type(2) {
  background-color: #CAB023;
}
#imputeHours #section #options #selects div {
  display: inline-block;
  margin-left: 10px;
}
#imputeHours #section #options #selects div select {
  margin-left: 10px;
  font-size: 21px;
  padding: 8px;
  border-radius: 3px;
  background-color: #606060;
  color: white;
  font-family: monospace;
}

#home-view .notification-center {
  margin-bottom: 20px;
}
#home-view .notification-center h1 {
  display: inline-block;
  margin: 0 10px 0 0;
}
#home-view .notification-center .notification {
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 0 10px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#home-view .notification-center .notification.active, #home-view .notification-center .notification:hover {
  color: #F15A29;
}
#home-view .notification-center .notification .notification-icon {
  position: relative;
}
#home-view .notification-center .notification .notification-icon .notification-total {
  position: absolute;
  z-index: 99;
  font-size: 10px;
  background: #F15A29;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  bottom: -5px;
  right: -10px;
  line-height: 20px;
}
#home-view .notification-canvas {
  margin-top: 20px;
}
#home-view .notification-canvas .notification-alert {
  overflow: auto;
  margin-bottom: 10px;
}
#home-view .notification-canvas .notification-alert:first-child hr {
  display: none;
}
#home-view .notification-canvas .notification-alert .time-zone {
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
}
#home-view .notification-canvas .notification-alert hr {
  margin: 0 0 20px 15px;
  width: 30%;
}
#home-view .inside-calendar {
  position: absolute;
  top: 19px;
  font-size: 13px;
  left: 7px;
}

html, body, body > div, div[ui-view] {
  height: 100%;
  overflow-y: hidden;
  min-width: 420px;
}

* {
  outline: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: open-sans, sans-serif;
  background: whitesmoke;
}
body.blockView,
html.blockView {
  overflow: hidden;
}

.object-shadow, #complex_layout .box-shadow, #complex_layout .header-mobile, #complex_layout .dropdown-menu[uib-datepicker-popup-wrap], #complex_layout .table-pagination .pagination, .simple-input button.button-text, .modal-open .modal .modal-content {
  box-shadow: 6px 9px 15px -5px gray;
  border-radius: 5px;
}

.alert {
  border: none;
  border-radius: 0;
}
.alert.alert-material {
  color: white;
}
.alert.alert-material.alert-warning {
  background: #FFA726;
}
.alert.alert-material.alert-success {
  background: #9CCC65;
}
.alert.alert-material.alert-danger {
  background: #EF5350;
}

.btn {
  border: none;
  border-radius: 0;
}
.btn.btn-primary, #complex_layout .advanced-search .form-actions .btn.btn-warning {
  outline: none;
  margin-top: 20px;
  border: none;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0;
  background-color: #F15A29;
}
.btn.btn-primary:hover, #complex_layout .advanced-search .form-actions .btn.btn-warning:hover {
  background-color: #d9400e;
}
.btn.btn-gray {
  outline: none;
  margin-top: 20px;
  color: white;
  border: none;
  padding: 7px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.btn.btn-gray:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: #F15A29;
}

hr.mini {
  margin: 10px 0;
}

#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  pointer-events: all;
  background: rgba(255, 255, 255, 0.6);
}
#loading-bar .bar {
  background: #F15A29;
}
#loading-bar .peg {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.simple-input .has-error .form-control {
  box-shadow: none;
}
.simple-input.no-margin button {
  margin-top: 0;
}
.simple-input input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0;
  padding: 5px 0;
}
.simple-input input:focus {
  border-color: #F15A29;
}
@media (max-width: 767px) {
  .simple-input input {
    margin-bottom: 20px;
  }
}
.simple-input textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0;
  padding: 5px 0;
}
.simple-input textarea.no-border {
  border: none;
}
.simple-input textarea.full-box {
  width: 100%;
  resize: none;
}
.simple-input textarea:focus {
  border-color: #F15A29;
}
.simple-input .input-group-btn button.btn {
  border-bottom: 1px solid;
  padding-bottom: 7px;
  border-color: rgba(0, 0, 0, 0.2);
}
.simple-input .input-group .datepicker i {
  color: rgba(0, 0, 0, 0.4);
}
.simple-input select {
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0;
  padding: 5px 0;
  background: transparent;
}
.simple-input select:focus {
  border-color: #F15A29;
}
@media (max-width: 767px) {
  .simple-input select {
    margin-bottom: 20px;
  }
}
.simple-input button.button-text {
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-radius: 0;
  padding: 5px 0;
}
.simple-input button.button-text:focus {
  border-color: #F15A29;
}

.modal-backdrop {
  z-index: 999998 !important;
  background: rgba(0, 0, 0, 0.2);
}
.modal-backdrop.in {
  opacity: 1;
}

.modal-open .modal {
  z-index: 999999 !important;
}
.modal-open .modal .modal-header {
  border: none;
  padding: 10px 15px;
}
.modal-open .modal .modal-header .modal-title {
  font-weight: 100;
}
.modal-open .modal .modal-footer {
  border: none;
  box-shadow: 0 -7px 15px -10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.modal-open .modal .modal-footer .char-count {
  float: left;
  padding: 7px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 800;
}
.modal-open .modal .modal-body {
  padding: 0 15px 20px;
}
.modal-open .modal .modal-content {
  border: none;
  border-radius: 0;
}
.modal-open .modal .modal-content .loading-modal {
  padding: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
.modal-open .modal .modal-content .btn-primary, .modal-open .modal .modal-content #complex_layout .advanced-search .form-actions .btn.btn-warning, #complex_layout .advanced-search .form-actions .modal-open .modal .modal-content .btn.btn-warning {
  margin: 0;
}
.modal-open .modal .modal-content .btn-danger {
  margin-left: 1px;
  padding: 7px 20px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal-open .modal .modal-content .btn-warning {
  text-transform: uppercase;
  padding: 7px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.modal-open .modal .modal-content .btn-warning:hover {
  background: rgba(0, 0, 0, 0.4);
}

.only-mobile {
  display: none;
}
@media (max-width: 767px) {
  .only-mobile {
    display: block;
  }
}

.only-desktop {
  display: block;
}
@media (max-width: 767px) {
  .only-desktop {
    display: none;
  }
}

.dropdown-menu[uib-datepicker-popup-wrap] {
  padding: 10px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu[uib-datepicker-popup-wrap] .btn-group.pull-left {
  visibility: hidden;
}
.dropdown-menu[uib-datepicker-popup-wrap] button {
  box-shadow: none;
}
.dropdown-menu[uib-datepicker-popup-wrap] button.active {
  background-color: #F15A29;
  color: white;
}
.dropdown-menu[uib-datepicker-popup-wrap] button.btn-info {
  background-color: #F15A29;
}
.dropdown-menu[uib-datepicker-popup-wrap] button.btn-info span {
  color: white;
  background-color: transparent;
}
.dropdown-menu[uib-datepicker-popup-wrap] button.btn-success {
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown-menu[uib-datepicker-popup-wrap] button.btn-success:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.no-animate, .no-animate * {
  -webkit-transition: none !important;
  transition: none !important;
}

.col-md-1.inline, .col-md-2.inline, .col-md-3.inline, .col-md-4.inline, .col-md-6.inline {
  display: inline-block;
  float: none;
  vertical-align: top;
}
@media (max-width: 1023px) {
  .col-md-1.inline, .col-md-2.inline, .col-md-3.inline, .col-md-4.inline, .col-md-6.inline {
    display: block;
  }
}

.embed-responsive, .modal, .modal-open, .progress {
  overflow: auto;
}

ng-form {
  width: 100%;
}
ng-form div[formly-field] {
  padding: 10px;
  display: inline-block;
}
ng-form div.form-buttons {
  clear: both;
  margin: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer * {
  cursor: pointer !important;
}
