    #imputeHours {

        #section {

             #daysDiv {
                border: solid 1px gray;
                border-radius: 3px;
                width: 90%;
                margin: auto;
                padding: 10px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                .myWeek {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    .myDay {
                        position: relative;
                        border-radius: 5px;
                        height: 95px;
                        width: 85px;
                        margin: 7px;
                        &:hover {
                            border: solid 1px #CAB023;
                            background-color: #B7B7B7;
                        }
                        &.friday {
                           background-color: $fridayColor;
                        }
                        &.working {
                           background-color: $workingColor;
                        }
                        &.intensive {
                           background-color: $intensiveColor;
                        }
                        &.special {
                           background-color: $specialColor;
                        }
                        &.holidays {
                           background-color: $holidaysColor;
                        }
                        &.non_working {
                           background-color: $non_workingColor;
                        }
                        &.desactivedNotCurrentMonth {
                           pointer-events: none;
                           cursor: default;
                           background-color: #F4F4F4;
                           .myHeader {
                                color: #666;
                           }
                        }
                        &.desactivedByStatus { // 'sent' and 'approved'
                           background-color: #DBDADA;
                           .myHeader {
                                color: #333;
                           }
                        }
                        .infoTag {
                            z-index: 999;
                            position: absolute;
                            top: -13px;
                            left: -13px;
                            background-color: white;
                            border-radius: 100px;
                            height: 30px;
                            width: 30px;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items: center;

                            &.friday {
                                border: 3px solid $fridayColor;
                            }
                            &.working {
                                border: 3px solid $workingColor;
                            }
                            &.intensive {
                                border: 3px solid $intensiveColor;
                            }
                            &.special {
                                border: 3px solid $specialColor;
                            }
                            &.holidays {
                                border: 3px solid $holidaysColor;
                            }
                            &.non_working {
                                border: 3px solid $non_workingColor;
                            }
                            &.draft {
                                color: #105EEE;
                            }
                            &.sent {
                                color: #FFB400;
                            }
                            &.approved {
                                color: #1B9C1B;
                            }
                            &.rejected {
                                color: #D10000;
                            }
                        }
                    } // myDay
                } // myWeek

                .myHeader {
                    height: 25px;
                    border-bottom: solid 1px gray;
                    font-family: monospace;
                    font-size: 14.5px;
                    color: white;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                }
                .myInput {
                    padding: 5px 8px;
                    input {
                        text-align: center;
                        font-size: 19px;
                        color: red;
                        transition: all .8s ease;
                        &:focus {
                            font-size: 20px;
                            color: #D70303; 
                        }
                    }
                }
                .myFooter {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 5px;
                    i {
                        font-size: 10px;
                    }
                    a:nth-of-type(1) {
                        background-color: $zemsania;             
                    }
                    a:nth-of-type(2) {
                        background-color: #D6D6D6;
                        color: black;
                    }
                }

            } // #daysDiv

            #imputeOptions {
                padding: 10px 10px 0 10px;
                select {
                    font-size: 17px;
                    font-family: monospace;
                }
                button {
                    margin-right: 4px;
                }
            }
            #monthInfo {
                text-align: center;
                font-size: 17px;
                font-weight: bold;
                font-family: monospace;
                margin-top: -15px;
            }

        } // #section

    } // #imputeHours
