<div id="imputeHours">
    <!-- HEADER TOOL-BAR -->
    <header id="header">
        <div id="headerContent">
            <div class="flexDesign box-shadow p20 top-bar">
                <div>
                    <h3>Imputar Horas</h3>
                </div>

                 <div class="rightMargin">
                     <button ng-disabled="!changes.pendingChanges" class="btn btn-gray no-margin" ng-click="openPendingChangesModal()">
                        {{'actions.cancel' | i18next}}
                    </button>

                    <button ng-disabled="!changes.pendingChanges" class="btn no-margin" ng-click="save()"
                            ng-class="{ 'btn-gray': !changes.pendingChanges, 'btn-primary': changes.pendingChanges}">
                            {{'actions.save' | i18next}}
                    </button>
                </div>




            </div>  
        </div>
    </header>
    <!-- SECTION MAIN CONTENT -->
    <section id="section" class="box-shadow p20">
    <!-- <div class="alert alert-danger" ng-show="loadingError">{{'calendars.error' | i18next}}</div> -->

<!-- <div class="myContainer">
        <div ng-class="{'jump':{{value.age == 4}}}" ng-repeat="(key, value) in myJSON">
            {{value.name}}
            <div class="jump"></div>
            <div ng-show="$index==3"><br /></div>
        </div>
</div>
<style>
    .myContainer {background-color: orange;}
    .myContainer > div {display: inline-block;margin-left: 10px;border:solid 1px green;}
    .myContainer .jump {display: block; background-color: red;}
</style>
 -->
        <div id="options">
            <div id="selects">                
                    <!-- PROJECTS SELECT -->
                    <div>
                        <label>{{'words.projects' | i18next}}
                            <select ng-options="project as project.name for project in userProjects | orderBy : 'name'" ng-model="projectModel" ng-change="projectChanged()"></select>
                        </label>
                    </div>
                    <!-- IMPUTE HOURS TYPES SELECT-->
                    <div>
                        <label>{{'words.type' | i18next}}
                            <select ng-options="type for type in imputeTypes" ng-model="typesModel" ng-change="imputeTypeChanged()"></select>
                        </label>
                    </div>
                    <!-- IMPUTE HOURS SUBTYPES SELECT-->
                    <div>
                        <label>
                            <select ng-options="subType for subType in imputeTypes[typesModel]" ng-disabled="!typesModel" ng-model="subtypesModel" ng-change="imputeSubTypeChanged()"></select>
                        </label>
                    </div>
            </div>

<!-- <button class="btn btn-lg" style="background-color: #05AE88; color: white;font-size: 17px;" ng-click="fn()">DALE!!</button> -->
<!-- <button class="btn btn-lg" style="background-color: #05AE88; color: white;font-size: 17px;" ng-click="fn2()">DALE 2</button> -->

        <button class="btn btn-primary" ng-click="moveDate(-1)"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-primary" ng-click="moveDate(+1)"><i class="fa fa-arrow-right"></i></button>
        <button class="btn btn-primary" ng-click="monthWeekViewSwap()">Vista {{(weekViewMode ? 'Mes' : 'Semanal')}}</button>
        <p>{{'months.' + showDaysObj.monthName | i18next}}  {{showDaysObj.currentYear}}
        <span ng-show="weekViewMode">{{'words.week' | i18next}} Nº {{showDaysObj.currentWeek + 1}}  </span></p>

        <!-- WEEK VIEW MODE -->
        <!-- <div ng-show="weekViewMode">Vista Semanal - Del: {{currentMonthData.weeks[currentWeek][0] | amDateFormat:'DD-MM-YY'}} al: {{currentMonthData.weeks[currentWeek][6] | amDateFormat:'DD-MM-YY'}}</div> -->
        <!-- MONTH VIEW MODE -->
        <!-- <div ng-hide="weekViewMode">Vista Mensual - Del: {{currentMonthData.weeks[0][0] | amDateFormat:'DD-MM-YY'}} al: {{currentMonthData.weeks[currentMonthData.weeks.length-1][6] | amDateFormat:'DD-MM-YY'}}</div> -->

            <div id="daysDiv">
 
                <div ng-hide="((weekViewMode == true) && (showDaysObj.currentWeek != value.week)) ||
                     ((weekViewMode == false) && (showDaysObj.currentMonth != value.thisMonth))" class="myDay {{value.dayType}}"
                                ng-class="{'desactive': showDaysObj.currentMonth!=value.thisMonth}" ng-repeat="(key, value) in showDaysObj.days">

                    <div class="myHeader">
                        {{value.day | amDateFormat:'DD ddd'}}
                    </div>

                    <div class="myInput" >

                        <input ng-show="value.inputType == 'text'" class="form-control input-sm" type="text" value="{{value.value}}"
                                 maxlength="3" ng-model="value.value" ng-change="inputChanged(value)">

                        <input ng-show="value.inputType == 'checkbox'" class="form-control input-sm" type="checkbox"
                                 value="{{value.checkValue}}" ng-model="value.checkValue" ng-change="inputChanged(value)">

                        <!-- <input type="number" step="0.5" min="0" size="1" /> -->
                    </div>

                    <div class="myFooter" >
                        <a class="btn btn-xs btn-warning" title="Gastos"> <!-- ui-sref="" -->
                            <i class="fa fa-anchor"></i></a>
                        <a class="btn btn-xs btn-danger" title="Misceláneos">
                            <i class="fa fa-key"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- FOOTER -->
    <footer id="footer">
        <div id="footerContent">
        <div class="copyRight">Zemsania Time Manager&copy;</div>
        </div>
    </footer>

</div>

