<h3>{{'auth.login.login' | i18next}}</h3>
<!-- <ul class="nav nav-tabs"> ESTÁNDAR / ACTIVE DIRECTORY
  <li ng-click="switchLoginCategory('standard')" ng-class="{'active': isCategoryActive('standard')}"><a class="pointer">Estándar</a></li>
  <li ng-click="switchLoginCategory('ldap')" ng-class="{'active': isCategoryActive('ldap')}"><a class="pointer">Active Directory</a></li>
</ul>
<br>
 -->
<form name="form" ng-submit="login()" role="form" class="set-padding-t-xl">
    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <input type="email" name="username" placeholder="{{'auth.login.username' | i18next}}" class="form-control" ng-model="loginForm.username" required/>
        <span ng-show="form.username.$dirty && form.username.$invalid" class="help-block ng-hide">{{'auth.login.invalidEmail' | i18next}}</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <input type="password" name="password" placeholder="{{'auth.login.password' | i18next}}" class="form-control" ng-model="loginForm.password" required/>
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block ng-hide">{{'auth.login.invalidPassword' | i18next}}</span>
    </div>

    <div class="form-actions">
        <div class="alert alert-danger" ng-show="loginForm.error">{{'auth.login.errorAtLogin' | i18next}}</div>
        <button ng-disabled="form.$invalid || loginForm.disabled" type="submit" class="btn btn-primary">
            {{'auth.login.login' | i18next}}
            <span ng-show="loginCategory=='ldap'">LDAP</span>
        </button>
        <p class="restore-password" ng-show="loginCategory == 'standard'">
            <a ui-sref="recovery">{{'auth.login.passwordRecovery' | i18next}}</a>
        </p>
    </div>

</form>
