<!-- CHANGE PASSWORD AT LOGIN WHEN DEFAULTPASSWORD = TRUE -->
<h3>{{'auth.changePassword.title' | i18next}}</h3>

<form name="form" ng-submit="changePassword()" role="form">
    <div class="form-group"
         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <input type="password" name="passwordCurrent" placeholder="{{'auth.changePassword.currentPassword' | i18next}}"
               class="form-control" ng-model="passwordForm.current" required/>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <input type="password" name="passwordNew" placeholder="{{'auth.changePassword.newPassword' | i18next}}"
               class="form-control" ng-model="passwordForm.new" required/>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <input type="password" name="confirmPassword" placeholder="{{'auth.changePassword.confirmPassword' | i18next}}"
               class="form-control" ng-model="passwordForm.confirm" required/>
        
        <span ng-show="form.confirmPassword.$dirty && passwordForm.new !== passwordForm.confirm"
              class="help-block ng-hide">{{'auth.changePassword.newConfirmNotMatching' | i18next}}</span>
    </div>
    
    <div class="form-actions">
        <div class="alert alert-danger" ng-show="passwordForm.error">
            {{'auth.changePassword.' + changePassword.messageToDisplay | i18next}}
        </div>
        
        <div class="alert alert-success" ng-show="passwordForm.success">
            {{'auth.changePassword.' + changePassword.messageToDisplay | i18next}}
        </div>

        <button type="submit"
                ng-disabled="form.$invalid || (passwordForm.new !== passwordForm.confirm) || passwordForm.success"
                class="btn btn-primary">{{'actions.next' | i18next}}
        </button>
    </div>
</form>